<td *ngIf="default">{{template.code}}</td>
<td *ngIf="default">{{template.subject}}</td>
<td *ngIf="default" class="text-right"><a (click)="editView()" class="btn btn-info btn-xs">edit</a> <a (click)="deleteView()" class="btn btn-info btn-xs">delete</a></td>
<td *ngIf="edit" colspan="3">
    <div class="text-right">
        <a (click)="defaultView()" class="btn btn-info btn-xs">close</a>
    </div>
    
    <div>
        <email-template-form [template]="template" (onFormCancel)="cancelled()" (onFormSubmit)="submitted($evant)"></email-template-form>
    </div>
</td>
<td *ngIf="delete" colspan="3">
    <div class="text-right">
        <a (click)="defaultView()" class="btn btn-info btn-xs">close</a>
    </div>
    <div>
        Do you really want to delete email template <strong>{{template.code}}</strong>?<br><button (click)="confirmDelete()" class="btn btn-info btn-xs">Yes</button> <button (click)="defaultView()" class="btn btn-info btn-xs">No</button>
    </div>
    
</td>