<loading *ngIf="loading"></loading>
<div class="row" *ngIf="!loading">
  <loading *ngIf="loading"></loading>
  <div *ngIf="!loading">
      <div class="col-sm-offset-3 col-sm-9">
          <h2>Message Template</h2><br><br>
      </div>
      <form class="form-horizontal form-label-left" novalidate (ngSubmit)="onSubmit()" [formGroup]="templateForm">
        <div class="form-group">
            <label for="code" class="control-label col-md-3 col-sm-3 col-xs-12">Template Code:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" name="code" formControlName="code" id="code" class="form-control col-xs-12" />
            </div>
        </div>
      <div class="form-group">
          <label for="subject" class="control-label col-md-3 col-sm-3 col-xs-12">Subject:</label>           
          <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" name="subject" formControlName="subject" id="subject" class="form-control col-xs-12" />
          </div>
      </div>
      <div class="form-group">
          <label for="bodyHtml" class="control-label col-md-3 col-sm-3 col-xs-12">Body Html:</label>           
          <div class="col-md-9 col-sm-9 col-xs-12" >
              <textarea name="bodyHtml" formControlName="bodyHtml" id="bodyHtml" class="form-control col-xs-12"></textarea>
          </div>
      </div>
      <div class="form-group">
          <label for="bodyText" class="control-label col-md-3 col-sm-3 col-xs-12">Body Text:</label>           
          <div class="col-md-9 col-sm-9 col-xs-12" >
              <textarea name="bodyText" formControlName="bodyText" id="bodyText" class="form-control col-xs-12"></textarea>
          </div>
      </div> 
      <div class="ln_solid"></div>
      <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <a class="btn btn-primary" (click)="onCancel()">Cancel</a>
              <button type="submit" [disabled]="templateForm.invalid"  class="btn btn-success">Submit</button>
          </div>
      </div>
    </form>
  </div>
    
