<div class="ln_solid"></div>
<div class="row">
  <div class="col-xs-10">

    @if (rowDefault) {
      <article class="media event">
        <div class="media-body">
          <a class="title">{{contact.majorProgram.name}}</a>
          <p>Days: {{contact.days}}, Audience: {{contact.male + contact.female}}</p>
        </div>
      </article>
    }
    @if (rowEdit) {
      <div class="col-xs-12">
        <contact-form [contact]="contact" (onFormCancel)="default()" (onFormSubmit)="contactSubmitted($event)"></contact-form>
      </div>
    }
    @if (rowDelete) {
      <div class="col-xs-11">
        Do you really want to delete the statistical contact?<br><button (click)="confirmDelete()" class="btn btn-info btn-xs">Yes</button> <button (click)="default()" class="btn btn-info btn-xs">No</button>
      </div>
    }

  </div>
  @if (displayEditButtons) {
    <div class="col-xs-2 text-right">
      @if (rowDefault) {
        <a class="btn btn-info btn-xs" (click)="edit()">edit</a>
      }
      @if (rowDefault) {
        <a class="btn btn-info btn-xs" (click)="delete()">delete</a>
      }
      @if (!rowDefault) {
        <a class="btn btn-info btn-xs" (click)="default()">close</a>
      }
    </div>
  }
</div>
