<div>
    <div class="text-right">
                <a class="btn btn-info btn-xs" *ngIf="!newContact" (click)="newContact = true">+ new statistical contact</a>
            </div>
            <contact-form *ngIf="newContact" (onFormCancel)="newContact=false" (onFormSubmit)="newContactSubmitted($event)"></contact-form>
        </div>
    <br><contact-list [byMonth]="byMonth" (onDeleted)="deleted($event)"></contact-list>
    <div *ngIf="numResults != 0" class="text-center">
        <div>Showing {{latest.length}} of {{numbContacts}} statistical contacts records</div>
        <div *ngIf="latest.length < numbContacts" class="btn btn-app" style="width: 97%; margin-right: 35px;" (click)="loadMore()">
            load more <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </div>
</div>