<div class="ln_solid"></div>
<div class="row">
  <div class="col-xs-10">

    @if (rowDefault) {
      <article class="media event">
        <div class="media-body">
          <a class="title">{{county.name}}</a>
          <p></p>
          <p></p>
        </div>
      </article>
    }
    @if (rowEdit) {
      <div class="col-xs-12">
        <planning-unit-admin-form [county]="county" (onFormSubmit)="updated($event)" (onFormCancel)="default()"></planning-unit-admin-form>
      </div>
    }


  </div>
  <div class="col-xs-2 text-right">
    @if (rowDefault) {
      <a class="btn btn-info btn-xs" (click)="edit()"><i class="fa fa-pencil"></i> Edit</a>
    }
    @if (!rowDefault) {
      <a class="btn btn-primary btn-xs" (click)="default()"><i class="fa fa-close"></i> Close</a>
    }
  </div>
</div>
