@if (rowOppened) {
  <td>{{initiative.name}}</td>
}
@if (rowOppened) {
  <td>{{initiative.programCategory.shortName}}</td>
}
@if (rowOppened) {
  <td class="text-right" >
    <button (click)="programs()" class="btn btn-info btn-xs">programs</button>
    <button (click)="edit()" class="btn btn-info btn-xs">edit</button>
    <button (click)="delete()" class="btn btn-info btn-xs">delete</button>
    @if (errorMessage) {
      <span>{{errorMessage}}</span>
    }
  </td>
}

@if (programsOppened) {
  <td colspan="2">
    {{initiative.name}}
    <programs-list [initiative]="initiative" (onChange)="initiativeUpdated(event)"></programs-list>
  </td>
}
@if (programsOppened) {
  <td class="text-right" >
    <button (click)="close()" class="btn btn-info btn-xs">close</button>
  </td>
}

@if (editOppened) {
  <td colspan="2">
    <initiative-form [initiative]="initiative" (onFormCancel)="close()" (onFormSubmit)="initiativeUpdated(event)"></initiative-form>
  </td>
}
@if (editOppened) {
  <td class="text-right" >
    <button (click)="close()" class="btn btn-info btn-xs">close</button>
  </td>
}
@if (deleteOppened) {
  <td colspan="2">Do you really want to delete Strategic Initiative {{initiative.name}}?<br><button (click)="confirmDelete()" class="btn btn-info btn-xs">Yes</button> <button (click)="close()" class="btn btn-info btn-xs">No</button></td>
}
@if (deleteOppened) {
  <td class="text-right" >
    <button (click)="close()" class="btn btn-info btn-xs">close</button>
  </td>
}
