<div class="alert alert-danger alert-dismissible fade in" role="alert" *ngIf="errorMessage">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <strong>Error: </strong> {{errorMessage}}
</div>


<div class="alert alert-success alert-dismissible fade in" role="alert" *ngIf="dataSubmitted">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <strong>Indicator data for <em>{{selectedProgram.name}}</em> has been submitted </strong><br>
To enter/adjust data for another Major Program, just select the Major Program from the dropdown list bellow.
</div>
<br>
<loading *ngIf="initiatives == null"></loading>
<div *ngIf="initiatives != null">
    <div *ngIf="demoMode">Select the Concentration from the dropdown list to access/enter your Program Indicator numbers:</div>
    <div *ngIf="!demoMode">Select the Major Program from the dropdown list to access/enter your Program Indicator numbers:</div><br>
    <select name="mp3" id="mp3" class="form-control col-md-7 col-xs-12" (change)="onChange($event.target.value)">
        <option value="">--- select ---</option>
        <optgroup  *ngFor="let initiative of initiatives" label="{{initiative.name}}">
            <option *ngFor="let program of initiative.majorPrograms" [value]="program.id">{{program.name}} ({{program.pacCode}})</option>
        </optgroup>
    </select>
    <div *ngIf="selectedProgram"><br><br><br>
        <h2>{{selectedProgram.name}}</h2><br>

        <div class="row" *ngIf="selectedIndicators != null && selectedIndicators.length > 0">

            <form class="form-horizontal form-label-left col-sm-12" novalidate (ngSubmit)="onSubmit()" [formGroup]="indicatorsForm">
                <loading *ngIf="loading"></loading>
                
                <div formArrayName="indicatorsGroup" *ngIf="!loading">
                    
                        <div *ngFor="let indicator of indicatorsForm.controls.indicatorsGroup.controls; let i=index" [formGroupName]="i" class="form-group">
                            <div class="col-xs-3">
                                
                                    <input class="form-control" type="number" id="firstName" formControlName="value" />
                                
                            </div>
                            <div class="col-xs-9" >
                                <div *ngIf="fiscalYear.epoch > 0" style="display: inline; float: right; padding-left: 4px; font-size: 0.9 em;">{{
                                ( selectedIndicators[i].isYouth==1 
                                    ? 
                                    childIcon 
                                    :
                                        (selectedIndicators[i].isYouth== 0
                                        ?
                                        adultIcon
                                        :
                                            (selectedIndicators[i].isYouth== 2
                                            ?
                                            volunteersIcon
                                            :
                                            ""
                                            )
                                        
                                        )
                                    )
                                }}</div>
                                <span [ngStyle]="{'color': (selectedIndicators[i].isYouth==1) ? '#4f71a9' : '#6c757d'}" [innerHTML]="selectedIndicators[i].question"></span>


                            </div>
                        
                    </div>
                </div> 
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <button type="submit" [disabled]="indicatorsForm.invalid || demoMode"  class="btn btn-success">Submit</button>
                    </div>
                </div>
                    
            </form>

        </div>
        <div *ngIf="selectedIndicators != null && selectedIndicators.length == 0 && !demoMode">There are no indicators available for selected Major Program</div>
        <div *ngIf="selectedIndicators != null && selectedIndicators.length == 0 && demoMode">There are no indicators available for selected Concentration</div>
    </div>
</div>