<div class="alert alert-danger alert-dismissible fade in" role="alert" *ngIf="errorMessage">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
  </button>
  <strong>Error: </strong> {{errorMessage}}
</div>
<loading *ngIf="loading"></loading>

<div class="row" *ngIf="!loading">

  <div *ngIf="commitment.commitments.length == 0">
    <h4>No commitment submitted.</h4>
  </div>
  <div *ngIf="commitment.commitments.length != 0">
    <h2>SNAP-Ed Commitment Worksheet <span *ngIf="commitmentFiscalYear"> for {{commitmentFiscalYear.start | date:'mediumDate'}} - {{commitmentFiscalYear.end | date:'mediumDate'}}</span>
    </h2><br><br>
      <div class="row">
          <div class="col-lg-offset-3 col-lg-9 col-xs-12">
            <p class="lead" style="font-size: 3em;"><span class="green">Hours</span></p>
          </div>
          <label class="col-lg-3 col-xs-12">Commitment Hours:</label> 
          <div class="col-lg-9 col-xs-12">
              <div class="table-responsive snap-audience">
                  <table class="table table-striped table-bordered">
                      <thead>
                          <tr>
                              <th>&nbsp;</th>
                              <th *ngFor="let hType of hoursActivityTypes">{{hType.name}}</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let pt of projectTypes">
                              <td>{{pt.name}}: </td>
                              <td *ngFor="let hType of hoursActivityTypes" >
                                  {{valuePerCommitment(hType, pt)}}
                              </td>
                          </tr>
  
                          <tr>
                              <td><b>TOTALS: </b></td>
                              <td *ngFor="let hType of hoursActivityTypes">{{totalPerType(hType)}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          
          </div>
      </div>
  
    <div class="form-group">
      <label class="col-lg-3 col-xs-12">Administrative Hours:</label> 
      <div class="col-lg-9 col-xs-12">
          <div class="table-responsive snap-audience">
              <table class="table table-striped table-bordered">
                  <tbody>
                      <tr *ngFor="let pt of notPerProjectActivityTypes">
                          <td>{{pt.name}}: </td>
                          <td>{{valuePerCommitment(pt)}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      
          </div>
      </div>
      

      <div class="col-lg-3 col-xs-12"><strong>Total SNAP-Ed<br>Commitment Hours for FY{{commitmentFiscalYear.name}}:</strong></div> 
      <div class="col-lg-9 col-xs-12"><span style="font-size: 2em; font-weight: bold;"> {{totalHours()}}</span><br><br><br></div>

      
      <div class="col-lg-offset-3 col-lg-9 col-xs-12">
            <p class="lead green" style="font-size: 3em;">Contacts</p>
          </div>
      <div class="form-group">
          <label class="col-lg-3 col-xs-12">Commitment Contacts:</label> 
          <div class="col-lg-9 col-xs-12">
              <div class="table-responsive snap-audience">
                  <table class="table table-striped table-bordered">
                      <thead>
                          <tr>
                              <th style="border-top: 1px solid steelblue; border-left-color: steelblue;">&nbsp;</th>
                              <th style="border-top: 1px solid" [style.border-top-color]="i==0 ? 'steelblue' : '#ddd' " [style.border-right-color]="i==0 ? 'steelblue' : '#ddd' " *ngFor="let hType of contactsActivityTypes; let i = index">{{hType.name}}</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let pt of projectTypes">
                              <td style="border-left-color: steelblue;">{{pt.name}}: </td>
                              <td [style.border-right-color]="k==0 ? 'steelblue' : '#ddd' " *ngFor="let hType of contactsActivityTypes; let k = index">
                                    {{valuePerCommitment(hType, pt)}}
                               </td>
                          </tr>
  
                          <tr>
                              <td style="border-left-color: steelblue;"><b>TOTALS: </b></td>
                              <td [style.border-right-color]="j==0 ? 'steelblue' : '#ddd' " *ngFor="let hType of contactsActivityTypes; let j = index">{{totalPerType(hType)}}</td>
                          </tr>
                          <tr>
                                <td style="border-left-color: steelblue; border-right-color: steelblue; border-bottom-color: steelblue; color:steelblue;" colspan="2">Used to determine reinforcement quantities</td>
                            </tr>
                      </tbody>
                  </table>
              </div>
          
          </div>
      </div>
      <ng-container *ngIf="reinforcementItems.length > 0">
        <div class="col-md-12"><br>
            <h4>Help NEP Decide POSSIBLE Reinforcement Items
                <small>Click below next to items desired.</small>
            </h4><br>
            <div class="row fontawesome-icon-list">
                                                
                <div *ngFor="let opt of reinforcementItems" class="col-md-4 fa-hover">
                    <i class="fa" [class.fa-close]="!isItemSelected(opt)" [class.fa-check]="isItemSelected(opt)"></i> {{opt.name}}
                </div>
            </div>

        </div>
        <div class="col-xs-12"><br><br></div>
    
            <div class="form-group">
                <label class="col-lg-3 col-xs-12">Suggested Incentive items: </label> 
                <div class="col-lg-9 col-xs-12">{{getSuggestion()}}</div>
            </div><br>
        </ng-container>    
    </div>
    
  <div class="col-xs-12"><br><br></div>

  </div>
    
