<div class="text-right"><a class="btn btn-default btn-xs" routerLink="/reporting/servicelog/snaped">Snap-Ed Records</a></div>
<div *ngIf="commitment!=null">
    <div *ngIf="isItJustView" >
        <commitment-view [commitment]="commitment" ></commitment-view>
        <a class="btn btn-dark btn-lg btn-block" (click)="isItJustView=false">Edit Commitment Data</a>
    </div>
    
    <commitment-form *ngIf="!isItJustView" [commitment]="commitment" (onFormSubmit)="commitmentEdited($event)" (onFormCancel)="isItJustView=true"></commitment-form>
    
</div>


