@if (loading) {
  <loading [type]="'bars'"></loading>
}
@if (!loading && !expenseEdit && !activityEdit && !expenseDelete && !activityDelete) {
  <div class="row" style="border-top:1px solid #eee; padding-top: 8px;">
    <div class="col-xs-8">
      <span class="cal-event" [style.backgroundColor]="event.color?.primary"></span>
      {{event.title}}
    </div>
    @if (allowActivityEdits) {
      <div class="col-xs-4 text-right">
        <a class="btn btn-info btn-xs" (click)="edit()"><i class="fa fa-pencil"></i> Edit</a>
        <a class="btn btn-info btn-xs" (click)="delete()"><i class="fa fa-trash-o"></i> Delete</a>
      </div>
    }
  </div>
}
@if (expenseEdit && !displayNewMileage) {
  <expense-form [expense]="expense" (onFormCancel)="formCancel()" (onFormSubmit)="formSubmit($event)"></expense-form>
}
@if (expenseEdit && displayNewMileage) {
  <mileage-form [mileage]="mileage" (onFormCancel)="formCancel()" (onFormSubmit)="formSubmit($event)"></mileage-form>
}
@if (activityEdit) {
  <servicelog-form [activity]="activity" (onFormCancel)="formCancel()" (onFormSubmit)="formSubmit($event)"></servicelog-form>
}
@if (expenseDelete) {
  <div>
    Do you really want to delete expense <strong>{{event.title}}</strong>?<br><button (click)="confirmDelete()" class="btn btn-info btn-xs">Yes</button> <button (click)="expenseDelete = false" class="btn btn-info btn-xs">No</button>
  </div>
}
@if (activityDelete) {
  <div>
    Do you really want to delete activity <strong>{{event.title}}</strong>?<br><button (click)="confirmDelete()" class="btn btn-info btn-xs">Yes</button> <button (click)="activityDelete = false" class="btn btn-info btn-xs">No</button>
  </div>
}