<div class="text-right" *ngIf="viewDate <= today && !logOpened && !expenseOpened">
    <a class="btn btn-info btn-xs" *ngIf="displayServiceLogEdits" (click)="logOpened=true">+ new service log record</a> 
    <a class="btn btn-info btn-xs" (click)="expenseOpened=true">+ new expense record</a>
</div>
<div>
  <servicelog-form [activityDate]="viewDate" *ngIf="logOpened" (onFormCancel)="logOpened=false" (onFormSubmit)="logSubmit($event)"></servicelog-form>
  <expense-form *ngIf="expenseOpened" [expenseDate]="viewDate" (onFormCancel)="expenseOpened=false" (onFormSubmit)="expenseSubmit($event)"></expense-form>
</div>
<div *ngFor="let event of events" [ngClass]="event?.cssClass">
  <calendar-event-detail [event]="event" (changed)="changed.emit()"></calendar-event-detail>
</div>
