@if (viewDate <= today && !logOpened && !expenseOpened) {
  <div class="text-right">
    @if (displayServiceLogEdits) {
      <a class="btn btn-info btn-xs" (click)="logOpened=true">+ new service log record</a>
    }
    <a class="btn btn-info btn-xs" (click)="expenseOpened=true">+ new mileage record</a>
  </div>
}
<div>
  @if (logOpened) {
    <servicelog-form [activityDate]="viewDate" (onFormCancel)="logOpened=false" (onFormSubmit)="logSubmit($event)"></servicelog-form>
  }
  @if (expenseOpened && !displayNewMileage) {
    <expense-form [expenseDate]="viewDate" (onFormCancel)="expenseOpened=false" (onFormSubmit)="expenseSubmit($event)"></expense-form>
  }
  @if (expenseOpened && displayNewMileage) {
    <mileage-form [mileageDate]="viewDate" (onFormCancel)="expenseOpened=false" (onFormSubmit)="expenseSubmit($event)"></mileage-form>
  }
</div>
@for (event of events; track event) {
  <div [ngClass]="$safeNavigationMigration(event?.cssClass)">
    <calendar-event-detail [event]="event" (changed)="changed.emit()"></calendar-event-detail>
  </div>
}
