@if (brief  && !isEdit) {
  <article class="media event">
    <div class="media-body">
      <p class="title">{{address.first}} {{address.last}}</p>
      <p>Address: {{address.address}}, {{address.city}} {{address.st}}</p>
      <p>Reports Url: https://kers.ca.uky.edu/core/reports/soil/customer/{{address.uniqueCode}} &nbsp;
        <button class="btn btn-default btn-xs" [disabled]="coppied" role="button" [copy-clipboard]="'https://kers.ca.uky.edu/core/reports/soil/customer/'+address.uniqueCode" (copied)="notify($event)">
          <i class="fa fa-clipboard"></i>&nbsp;
          @if (!coppied) {
            Copy
            } @if (coppied) {
            Copied
          }
        </button></p>
      </div>
    </article>
  }

  @if (!brief && !isEdit) {
    <div class="profile_details"  >
      <div class="well">
        <article class="media event"  style="min-height: 130px;">
          {{address.first}} {{address.last}}<br>
          {{address.address}}<br>
          {{address.city}}@if (address.st && address.st!='') {
          <span>, {{address.st}}</span>
          } {{address.zip}} <br>
          @if (address.homeNumber) {
            <span>Phone: {{address.homeNumber}}<br></span>
          }
          @if (address.emailAddress) {
            <span>Email: {{address.emailAddress}}</span>
            }<br>
          </article>
          @if (select  && !isEdit) {
            <a class="btn btn-info btn-xs" (click)="selected()">select</a>
          }
          @if (edit && !isEdit) {
            <a class="pull-right"><i style="cursor: pointer;" class="fa fa-pencil-square-o" (click)="isEdit=true"></i></a>
          }
        </div>
      </div>
    }


    @if (isEdit) {
      <div class="row" style="clear:both; width: 100%;">
        <div class="col-sm-9">
          <soildata-farmer-address-form [address]="address" (onFormCancel)="isEdit = !isEdit" (onFormSubmit)="edited($event)"></soildata-farmer-address-form>
        </div>
      </div>
    }