@if (errorMessage) {
  <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
  </button>
  <strong>Error: </strong> {{errorMessage}}
</div>
}
<div><reporting-display-help id="9"></reporting-display-help></div>
@if (loading) {
  <loading></loading>
}
@if (!loading) {
  <div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-9">
        @if (!user) {
          <h2>New Reporting Profile</h2>
        }
        @if (user) {
          <h2>Edit {{user.personalProfile.firstName}}'s Reporting Profile</h2>
        }
      </div>
      <form class="form-horizontal form-label-left col-sm-12" novalidate (ngSubmit)="onSubmit()" [formGroup]="reportingForm">
        @if (positions) {
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="extensionPositionId">Extension Position:</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select id="extensionPositionId" formControlName="extensionPositionId" class="form-control col-md-7 col-xs-12">
                <option>-- select --</option>
                @for (position of positions | async; track position) {
                  <option [value]="position.id">{{position.title}}</option>
                }
              </select>
            </div>
          </div>
        }
        @if (specialtiesOptions) {
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="specialties">Program Area/Responsibility:</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <ng-select
                id="specialties"
                formControlName="specialties"
                [items]="specialtiesOptions"
                [multiple]="true"
                [hideSelected]="true"
                placeholder = "(select any/all that apply)">
              </ng-select>
            </div>
          </div>
        }
        <div formGroupName="rprtngProfile">
          @if (locations) {
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="generalLocationId">Location:</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <select id="generalLocationId" formControlName="generalLocationId" class="form-control col-md-7 col-xs-12">
                  <option value="0">-- select --</option>
                  @for (location of locations | async; track location) {
                    <option [value]="location.id">{{location.name}}</option>
                  }
                </select>
              </div>
            </div>
          }
          @if (units) {
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="planningUnitId">Planning Unit:</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <select id="planningUnitId" formControlName="planningUnitId" class="form-control col-md-7 col-xs-12">
                  <option>-- select --</option>
                  @for (unit of units | async; track unit) {
                    <option [value]="unit.id">{{unit.name}}</option>
                  }
                </select>
              </div>
            </div>
          }
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email:</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" id="email" formControlName="email" class="form-control col-md-7 col-xs-12" />
              <small>(this must be a functional email address)</small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="emailAlias">Email Alias:</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" id="emailAlias" formControlName="emailAlias" class="form-control col-md-7 col-xs-12" />
              <small>(e.g. John.Smith&#64;uky.edu) - (this must be a functional email address)</small>
            </div>
          </div>
          @if (adminEdit) {
            <div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enabled">Enabled:</label>
                <div class="col-md-9 col-sm-9 col-xs-12" style="padding-top: 9px;">
                  <input type="checkbox" id="enabled" formControlName="enabled" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <small style="font-weight: normal">(Last, First)</small>:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" id="name" formControlName="name" class="form-control col-md-7 col-xs-12" />
                </div>
              </div>
              @if (institutions | async) {
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="institutionId">Institution:</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <select id="institutionId" formControlName="institutionId" class="form-control col-md-7 col-xs-12">
                      <option>-- select --</option>
                      @for (inst of institutions | async; track inst) {
                        <option [value]="inst.id">{{inst.name}}</option>
                      }
                    </select>
                  </div>
                </div>
              }
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="personId">Person Id:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" id="personId" formControlName="personId" class="form-control col-md-7 col-xs-12" />
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="linkBlueId">Link Blue Id:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" id="linkBlueId" formControlName="linkBlueId" class="form-control col-md-7 col-xs-12" />
                </div>
              </div>
            </div>
          }
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a class="btn btn-primary" (click)="OnCancel()">Cancel</a>
            <button type="submit" [disabled]="reportingForm.invalid"  class="btn btn-success">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
}