<div>
    <div class="text-right">
                <a class="btn btn-info btn-xs" *ngIf="!newActivity" (click)="newActivity = true">+ new service log record</a>
            </div>
            <activity-form *ngIf="newActivity" (onFormCancel)="newActivity=false" (onFormSubmit)="newActivitySubmitted($event)"></activity-form>
        </div>
    <br><activity-list [byMonth]="byMonth" (onDeleted)="deleted($event)" (onEdited)="edited($event)"></activity-list>
    <div *ngIf="numbActivities != 0" class="text-center">
        <div>Showing {{latest.length}} of {{numbActivities}} Service Logs</div>
        <div *ngIf="latest.length < numbActivities" class="btn btn-app" style="width: 97%; margin-right: 35px;" (click)="loadMore()">
            load more <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </div>
</div>