<div class="text-right"><a href="/kers_mobile/ReportDD_ProgramPlansMain.aspx">Past Fiscal Years Reports</a></div>
<h2>Fiscal Year 2018 Plans of Work Reports</h2>
<select name="counties" id="counties" class="form-control col-md-7 col-xs-12" (change)="onChange($event.target.value)">
  <option value="">--- select county ---</option>

  @for (county of counties | async; track county) {
    <option [value]="county.id">{{county.name}}</option>
  }

</select>
<br><br><br><br>
@if (plans) {
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (planofwork of plans | async; track planofwork) {
          <tr [isReport]="true" [planofworkDetail]="planofwork" (onPlanofworkUpdated)="onPlanofworkUpdate()" (onPlanofworkDeleted)="onPlanofworkUpdate()" ></tr>
        }
      </tbody>
    </table>
  </div>
}