<td *ngIf="defaultView">{{exempt.name}}</td>
<td *ngIf="defaultView">{{programAreas()}}</td>
<td *ngIf="defaultView">{{exempt.updated | date:'short'}}</td>
<td *ngIf="defaultView">{{exempt.taxExemptFinancialYear.name}}</td>
<td *ngIf="defaultView" class="text-right">
    
    <button (click)="edit()" class="btn btn-info btn-xs">edit</button>
    <button (click)="pdf()" class="btn btn-info btn-xs">pdf</button>
    <button (click)="delete()" class="btn btn-info btn-xs">delete</button>

</td>
<td *ngIf="editOppened" colspan="5">
    <div class="text-right">
        <button (click)="default()" class="btn btn-info btn-xs">close</button>
    </div>
    <exempt-form [exempt]="exempt" (onFormCancel)="default()" (onFormSubmit)="edited($event)"></exempt-form>
    edit
</td>
<td *ngIf="deleteOppened"  colspan="5">
    <div class="text-right">
        <button (click)="default()" class="btn btn-info btn-xs">close</button>
    </div>
    
    delete
</td>
