@if (loading) {
  <td colspan="5"><loading></loading></td>
}
@if (!loading) {
  @if (defaultView) {
    <td>{{exempt.name}}</td>
  }
  @if (defaultView) {
    <td>{{programAreas()}}</td>
  }
  @if (defaultView) {
    <td>{{exempt.updated | date:'short'}}</td>
  }
  @if (defaultView) {
    <td>{{exempt.taxExemptFinancialYear.name}}</td>
  }
  @if (defaultView) {
    <td class="text-right">
      @if (canEdit) {
        <button (click)="edit()" class="btn btn-info btn-xs">edit</button>
      }
      <button (click)="pdf()" class="btn btn-info btn-xs">pdf</button>
      @if (canEdit) {
        <button (click)="delete()" class="btn btn-info btn-xs">delete</button>
      }
    </td>
  }
  @if (editOppened) {
    <td colspan="5">
      <div class="text-right">
        <button (click)="default()" class="btn btn-info btn-xs">close</button>
      </div>
      <exempt-form [exempt]="exempt" (onFormCancel)="default()" (onFormSubmit)="edited($event)"></exempt-form>
    </td>
  }
  @if (deleteOppened) {
    <td  colspan="5">
      <div class="text-right">
        <button (click)="default()" class="btn btn-info btn-xs">close</button>
      </div>
      Do you really want to delete tax exempt entity <strong>{{exempt.name}}</strong>?<br><button (click)="confirmDelete()" class="btn btn-info btn-xs">Yes</button> <button (click)="default()" class="btn btn-info btn-xs">No</button>
    </td>
  }
}
