@if (rowOppened) {
  <td>{{map.title}}</td>
}
@if (rowOppened) {
  <td class="text-right" >
    <button (click)="edit()" class="btn btn-info btn-xs">edit</button>
    @if (deleteAllowed) {
      <button (click)="delete()" class="btn btn-info btn-xs">delete</button>
    }
    @if (errorMessage) {
      <span>{{errorMessage}}</span>
    }
  </td>
}
@if (editOppened) {
  <td>
    <plansofwork-map-form [map]="map" (onFormCancel)="close()" (onFormSubmit)="mapUpdated(event)"></plansofwork-map-form>
  </td>
}
@if (editOppened) {
  <td class="text-right" >
    <button (click)="close()" class="btn btn-info btn-xs">close</button>
  </td>
}
@if (deleteOppened && loading) {
  <td colspan="2"><loading></loading></td>
}
@if (deleteOppened && !loading) {
  <td>Do you really want to delete map {{map.title}}?<br><button (click)="confirmDelete()" class="btn btn-info btn-xs">Yes</button> <button (click)="close()" class="btn btn-info btn-xs">No</button></td>
}
@if (deleteOppened && !loading) {
  <td class="text-right" >
    <button (click)="close()" class="btn btn-info btn-xs">close</button>
  </td>
}