<loading *ngIf="loading"></loading>
<div *ngIf="!loading">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-9">
            <h2 *ngIf="!planofwork">&nbsp;&nbsp;New Plan of Work</h2>
        </div>
    </div>
    <form class="form-horizontal form-label-left col-sm-12" novalidate (ngSubmit)="onSubmit()" [formGroup]="planofworkForm">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">MAP: </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="map" id="map" formControlName="map" class="form-control col-md-7 col-xs-12" >
                    <option value="">--- select ---</option>
                    <option *ngFor="let map of maps" [value]="map.id">{{map.title}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Title: </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" name="title" id="title" formControlName="title" class="form-control col-md-7 col-xs-12" >
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Agents Involved: </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="agentsInvolved" name="agentsInvolved" id="agentsInvolved" formControlName="agentsInvolved" class="form-control col-md-7 col-xs-12" >
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Major Program 1: </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="title" id="mp1" formControlName="mp1" class="form-control col-md-7 col-xs-12" >
                    <option value="">--- select ---</option>
                    <optgroup  *ngFor="let initiative of initiatives" label="{{initiative.name}}">
                        <option *ngFor="let program of initiative.majorPrograms" [value]="program.id">{{program.name}} ({{program.pacCode}})</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Major Program 2: </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="mp2" id="mp2" formControlName="mp2" class="form-control col-md-7 col-xs-12" >
                    <option value="">--- select ---</option>
                    <optgroup  *ngFor="let initiative of initiatives" label="{{initiative.name}}">
                        <option *ngFor="let program of initiative.majorPrograms" [value]="program.id">{{program.name}} ({{program.pacCode}})</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Major Program 3: </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="mp3" id="mp3" formControlName="mp3" class="form-control col-md-7 col-xs-12" >
                    <option value="">--- select ---</option>
                    <optgroup  *ngFor="let initiative of initiatives" label="{{initiative.name}}">
                        <option *ngFor="let program of initiative.majorPrograms" [value]="program.id">{{program.name}} ({{program.pacCode}})</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Major Program 4: </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="mp4" id="mp4" formControlName="mp4" class="form-control col-md-7 col-xs-12" >
                    <option value="">--- select ---</option>
                    <optgroup  *ngFor="let initiative of initiatives" label="{{initiative.name}}">
                        <option *ngFor="let program of initiative.majorPrograms" [value]="program.id">{{program.name}} ({{program.pacCode}})</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="activityDescription" class="control-label col-md-3 col-sm-3 col-xs-12">Situation:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea [froalaEditor]="options" name="situation" formControlName="situation" id="situation" class="form-control col-xs-12"></textarea>
                <p><small>Briefly describe the situation or issue which led to the development of this program. 
                    When appropriate, identify information sources where situational data was obtained. 
                    Also, describe how advisory councils were involved in the development of this program.</small></p>
            </div>
        </div>
        <div class="form-group">
            <label for="activityDescription" class="control-label col-md-3 col-sm-3 col-xs-12">Long Term Outcomes:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea [froalaEditor]="options" name="longTermOutcomes" formControlName="longTermOutcomes" id="longTermOutcomes" class="form-control col-xs-12"></textarea>
                <p><small>State the long-term outcomes for this program. 
                    These are typically described as the changes in social, economic, or environmental conditions (SEEC) THAT THE PROGRAM INTENDS TO ADDRESS. 
                    It is likely that these will flow directly from the description of the current situation found directly above.</small></p>
            </div>
        </div>
        <div class="form-group">
            <label for="activityDescription" class="control-label col-md-3 col-sm-3 col-xs-12">Intermediate Outcomes:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea [froalaEditor]="options" name="intermediateOutcomes" formControlName="intermediateOutcomes" id="intermediateOutcomes" class="form-control col-xs-12"></textarea>
                <p><small>Identify the intermediate outcomes for this program. These tend to be behavior or practice changes which logically produce the long-term outcomes identified above. 
                    In other words, what must people do differently to produce the desired changes in social, environmental, or economic conditions?</small></p>
            </div>
        </div>
        <div class="form-group">
            <label for="activityDescription" class="control-label col-md-3 col-sm-3 col-xs-12">Initial Outcomes:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea [froalaEditor]="options" name="initialOutcomes" formControlName="initialOutcomes" id="initialOutcomes" class="form-control col-xs-12"></textarea>
                <p><small>State the initial outcomes for the program. Initial outcomes are the changes in knowledge, opinions, skills, or aspirations (KOSA) which are seen as prerequisites to behavioral change. 
                    Be as specific as possible when describing KOSA changes.</small></p>
            </div>
        </div>
        <div class="form-group">
            <label for="activityDescription" class="control-label col-md-3 col-sm-3 col-xs-12">Evaluation:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea [froalaEditor]="options" name="evaluation" formControlName="evaluation" id="evaluation" class="form-control col-xs-12"></textarea>
                <p><small>How will you determine if the desired outcomes are being achieved? 
                    From the outcomes listed above, tell what outcomes you plan to measure, the indicators you will use to assess change, and the evaluation methods you will use. 
                    Then tell when evaluation activities will occur.</small></p>
            </div>
        </div>
        <div class="form-group">
            <label for="activityDescription" class="control-label col-md-3 col-sm-3 col-xs-12">Learning:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea [froalaEditor]="options" name="learning" formControlName="learning" id="learning" class="form-control col-xs-12"></textarea>
                <p><small>Indicate the audience you intend to reach and the learning opportunities that will be provided. 
                    First, describe the project or activity. Then, describe the content that will be delivered or the curriculum used. Next, indicate the inputs or resources used to conduct the program (e.g., volunteers, paid staff, facilities, grant funds, etc.). 
                    Finally, tell when the project/activity will occur.</small></p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a class="btn btn-primary" (click)="OnCancel()">Cancel</a>
            <button type="submit" [disabled]="planofworkForm.invalid"  class="btn btn-success">Submit</button>
        </div>
    </form>
</div>