<td *ngIf="rowOppened">{{planofwork.title}}</td>
<td class="text-right"  *ngIf="rowOppened">
        <button *ngIf="isReport" (click)="view()" class="btn btn-info btn-xs">view</button>
        <button *ngIf="!isReport" (click)="edit()" class="btn btn-info btn-xs">edit</button>
        <button *ngIf="!isReport" (click)="delete()" class="btn btn-info btn-xs">delete</button>
        <span *ngIf="errorMessage">{{errorMessage}}</span>
</td>
<td *ngIf="viewOppened">
        <plansofwork-view [planofwork]="planofwork"></plansofwork-view>
</td>
<td class="text-right"  *ngIf="viewOppened">
    <button (click)="close()" class="btn btn-info btn-xs">close</button>
</td>
<td *ngIf="editOppened">
        <planofwork-form [planofwork]="planofwork" (onFormCancel)="close()" (onFormSubmit)="mapUpdated(event)"></planofwork-form>
</td>
<td class="text-right"  *ngIf="editOppened">
    <button (click)="close()" class="btn btn-info btn-xs">close</button>
</td>
<td *ngIf="deleteOppened">Do you really want to delete Plan of Work {{planofwork.title}}?<br><button (click)="confirmDelete()" class="btn btn-info btn-xs">Yes</button> <button (click)="close()" class="btn btn-info btn-xs">No</button></td>
<td class="text-right"  *ngIf="deleteOppened">
    <button (click)="close()" class="btn btn-info btn-xs">close</button>
</td>