<fiscal-year-switcher [initially]="'next'" (onSwitched)="selectFiscalYear($event)"></fiscal-year-switcher><br><br>
@if (plans) {
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (planofwork of plans; track planofwork) {
          <tr [isReport]="true" [planofworkDetail]="planofwork" (onPlanofworkUpdated)="onPlanofworkUpdate()" (onPlanofworkDeleted)="onPlanofworkUpdate()" ></tr>
        }
      </tbody>
    </table>
  </div>
}