<div>
    <div class="text-right">
        <a class="btn btn-info btn-xs" *ngIf="!newPlan && plans != null && plans.length < 4" (click)="newPlanofworkOpen()">+ new county emphasis</a>
    </div>
    <planofwork-form *ngIf="newPlan" (onFormCancel)="newPlanofworkCancelled()" (onFormSubmit)="newPlanofworkSubmitted()" [fiscalYear]="fy"></planofwork-form>
</div>
<div *ngIf="plans">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>County Emphases</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
              <tr *ngFor="let planofwork of plans" [planofworkDetail]="planofwork" (onPlanofworkUpdated)="onPlanofworkUpdate()" (onPlanofworkDeleted)="onPlanofworkUpdate()" ></tr>
        </tbody>               
    </table>            
</div>