<h4>MAPS</h4>
<div>
  <div class="text-right">
    @if (!newMap) {
      <a class="btn btn-info btn-xs" (click)="newMapOpen()">+ new map</a>
    }
  </div>
  @if (newMap) {
    <plansofwork-map-form (onFormCancel)="newMapCancelled()" (onFormSubmit)="newMapSubmitted($event)" [fiscalYear]="fy"></plansofwork-map-form>
  }
</div>
@if (maps) {
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (map of maps; track map) {
          <tr [plansofworkMapsDetail]="map" (onMapUpdated)="onMapUpdate()" (onMapDeleted)="onMapUpdate()" ></tr>
        }
      </tbody>
    </table>
  </div>
}