<loading *ngIf="loading"></loading>
<div *ngIf="!loading">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-9">
            <h2 *ngIf="!planofwork">&nbsp;&nbsp;New County Emphasis</h2>
            <h2 *ngIf="planofwork">&nbsp;&nbsp;Edit County Emphasis</h2>
        </div>
    </div>
    <form class="form-horizontal form-label-left col-sm-12" novalidate (ngSubmit)="onSubmit()" [formGroup]="planofworkForm">

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">County Emphasis: </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" name="title" id="title" formControlName="title" class="form-control col-md-7 col-xs-12" >
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Concentration 1: </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="title" id="mp1" formControlName="mp1" class="form-control col-md-7 col-xs-12" >
                    <option value="">--- select ---</option>
                    <optgroup  *ngFor="let initiative of initiatives" label="{{initiative.name}}">
                        <option *ngFor="let program of initiative.majorPrograms" [value]="program.id">{{program.name}} ({{program.pacCode}})</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Concentration 2: </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="mp2" id="mp2" formControlName="mp2" class="form-control col-md-7 col-xs-12" >
                    <option value="">--- select ---</option>
                    <optgroup  *ngFor="let initiative of initiatives" label="{{initiative.name}}">
                        <option *ngFor="let program of initiative.majorPrograms" [value]="program.id">{{program.name}} ({{program.pacCode}})</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Concentration 3: </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="mp3" id="mp3" formControlName="mp3" class="form-control col-md-7 col-xs-12" >
                    <option value="">--- select ---</option>
                    <optgroup  *ngFor="let initiative of initiatives" label="{{initiative.name}}">
                        <option *ngFor="let program of initiative.majorPrograms" [value]="program.id">{{program.name}} ({{program.pacCode}})</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Concentration 4: </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="mp4" id="mp4" formControlName="mp4" class="form-control col-md-7 col-xs-12" >
                    <option value="">--- select ---</option>
                    <optgroup  *ngFor="let initiative of initiatives" label="{{initiative.name}}">
                        <option *ngFor="let program of initiative.majorPrograms" [value]="program.id">{{program.name}} ({{program.pacCode}})</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="activityDescription" class="control-label col-md-3 col-sm-3 col-xs-12">Situation:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea [froalaEditor]="options" name="situation" formControlName="situation" id="situation" class="form-control col-xs-12">Copy and paste state situations that correspond to concentrations</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="activityDescription" class="control-label col-md-3 col-sm-3 col-xs-12">County Situation:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea [froalaEditor]="options" name="situation" formControlName="countySituation" id="countySituation" class="form-control col-xs-12"></textarea>
                <p><small>Briefly describe county situation or issue which led to the development of this program. 
                    Also, describe how advisory councils were involved in the development of this program.</small></p>
            </div>
        </div>
        <div class="form-group">
            <label for="activityDescription" class="control-label col-md-3 col-sm-3 col-xs-12">Long Term Outcomes:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea [froalaEditor]="options" name="longTermOutcomes" formControlName="longTermOutcomes" id="longTermOutcomes" class="form-control col-xs-12">Copy and paste from the provided logic models that correspond to the concentrations</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="activityDescription" class="control-label col-md-3 col-sm-3 col-xs-12">Intermediate Outcomes:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea [froalaEditor]="options" name="intermediateOutcomes" formControlName="intermediateOutcomes" id="intermediateOutcomes" class="form-control col-xs-12">Copy and paste from the provided logic models that correspond to the concentrations</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="activityDescription" class="control-label col-md-3 col-sm-3 col-xs-12">Initial Outcomes:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea [froalaEditor]="options" name="initialOutcomes" formControlName="initialOutcomes" id="initialOutcomes" class="form-control col-xs-12">Copy and paste from the provided logic models that correspond to the concentrations</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="activityDescription" class="control-label col-md-3 col-sm-3 col-xs-12">Learning Opportunities:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea [froalaEditor]="options" name="learning" formControlName="learning" id="learning" class="form-control col-xs-12"></textarea>
                <p><small>Indicate the audience you intend to reach and the learning opportunities that will be provided. 
                    First, describe the project or activity. Then, describe the content that will be delivered or the curriculum used. Next, indicate the inputs or resources used to conduct the program (e.g., volunteers, paid staff, facilities, grant funds, etc.). 
                    Finally, tell when the project/activity will occur.</small></p>
            </div>
        </div>
        <div class="form-group">
            <label for="activityDescription" class="control-label col-md-3 col-sm-3 col-xs-12">Evaluation:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea [froalaEditor]="options" name="evaluation" formControlName="evaluation" id="evaluation" class="form-control col-xs-12"></textarea>
            </div>
        </div>
        <div class="form-group" *ngIf="dataSources">
            <label for="title" class="control-label col-md-3 col-sm-3 col-xs-12">Data Source(s):</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <ng-select
                    id="dataSource"
                    formControlName="planOfWorkDataSourceSelections"
                    [items]="dataSources"
                    [multiple]="true"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    placeholder = "(select any/all that apply)">
                </ng-select>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a class="btn btn-primary" (click)="OnCancel()">Cancel</a>
            <button type="submit" [disabled]="planofworkForm.invalid"  class="btn btn-success">Submit</button>
        </div>
    </form>
</div>