@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    ViewData["Title"] = "Plans of Work By Planning Unit";
    ViewData["Subtitle"] = "Kentucky Extension Reporting System";
}
@model List<Kers.Models.Entities.KERScore.PlanningUnit>

<div class="bs-glyphicons">
    <ul class="bs-glyphicons-list">
      <li>
        <a asp-controller="Data"  asp-action="Index">
          <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          <span class="glyphicon-class">Back to Data</span>
        </a>
      </li>
        @if(Model != null){
            @foreach( var unit in Model){
                <li>
                    <a asp-controller="PlansOfWork"  asp-action="PlansByCounty" asp-route-id=@unit.Id>
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    <span class="glyphicon-class">@unit.Name.Substring(0, @unit.Name.Length - 11)</span>
                    </a>
                </li>
            }
        }
      
      
    </ul>
  </div>