@model Kers.Models.ViewModels.PlanOfWorkViewModel
@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    ViewData["Title"] = Model.LastRevision.Title;
    ViewData["Subtitle"] = "Plan of Work";
}

<h2>@Model.LastRevision.Title</h2>
