@model Kers.Models.ViewModels.PlanOfWorkViewModel
@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    ViewData["Title"] = Model.LastRevision.Title;
    ViewData["Subtitle"] = "Plan of Work";
}
<div class="text-right">
        <a asp-controller="PlansOfWork"  asp-action="PlansByCounty" asp-route-id=@Model.PlanningUnit.Id class="btn btn-default btn-xs">Back to Plans for the County</a><br>
</div>
@await Html.PartialAsync("PlanFullPartial")
<div class="text-right">
        <a asp-controller="PlansOfWork"  asp-action="PlansByCounty" asp-route-id=@Model.PlanningUnit.Id class="btn btn-default btn-xs">Back to Plans for the County</a><br>
</div>