@model Kers.Models.ViewModels.PlanOfWorkViewModel
@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    ViewData["Title"] = Model.LastRevision.Title;
    ViewData["Subtitle"] = "Plan of Work";
    int? programid = ViewData["ProgramId"] as int?;
}

<div class="text-right">
        <a asp-controller="PlansOfWork"  asp-action="PlansByProgram" asp-route-id=@programid class="btn btn-default btn-xs">Back to the Program</a><br>
</div>
@await Html.PartialAsync("PlanFullPartial")
<div class="text-right">
        <a asp-controller="PlansOfWork"  asp-action="PlansByProgram" asp-route-id=@programid class="btn btn-default btn-xs">Back to the Program</a><br>
</div>