@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    ViewData["Subtitle"] = "Kentucky Extension Reporting System";
    var FiscalYear = ViewData["FiscalYear"] as Kers.Models.Entities.KERScore.FiscalYear;
    ViewData["Title"] = "Plans of Work By " + (FiscalYear.Epoch < 1 ? "Major Program" : "Concentration");
    var fy = ViewData["fy"] as string;
}
@model List<Kers.Models.Entities.KERScore.MajorProgram>

<div class="text-right">
        <a asp-controller="Data"  asp-action="Index" class="btn btn-default btn-xs">Back to Data</a><br>
</div>
<table class="table table-striped">
    <thead>
        <th></th>
        <th>Pac Code</th>
        <th>Name</th>
    </thead>
    <tbody>
        @foreach( var program in Model){
            <tr>
                <td><a asp-controller="PlansOfWork"  asp-action="PlansByProgram" asp-route-id=@program.Id class="btn btn-info btn-xs">select</a></td>
                <td>@program.PacCode</td>
                <td>@program.Name</td>
            </tr>
        }
    </tbody>
</table>

