<div class="alert alert-danger alert-dismissible fade in" role="alert" *ngIf="errorMessage">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <strong>Error: </strong> {{errorMessage}}
</div>
<fiscal-year-switcher *ngIf="fiscalYearSwitcher" [initially]="'previous'" [showNext]="false" (onSwitched)="fiscalYearSwitched($event)"></fiscal-year-switcher>
<loading *ngIf="loading"></loading>
<div class="row" *ngIf="!loading">
    <div><reporting-display-help id="4"></reporting-display-help></div>
    <div class="col-sm-offset-3 col-sm-9">
        <h2 *ngIf="!story">New Success Story <span *ngIf="fiscalYear"> for FY{{fiscalYear.name}}</span></h2>
        <h2 *ngIf="story">Edit Success Story</h2>
    </div>
    <form class="form-horizontal form-label-left" novalidate (ngSubmit)="onSubmit()" [formGroup]="storyForm">
        <div class="form-group">
            <label for="title" class="control-label col-md-3 col-sm-3 col-xs-12">Title:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" name="title" formControlName="title" id="title" class="form-control col-xs-12" />
            </div>
        </div>
        <div class="form-group"  *ngIf="currentUser.extensionPosition.code == 'AGENT'">
            <label for="title" class="control-label col-md-3 col-sm-3 col-xs-12">Audience Type:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <ng-select
                    id="audienceTypes"
                    formControlName="storyAudienceConnections"
                    [items]="audienceTypes"
                    [multiple]="true"
                    [closeOnSelect]="false"
                    [hideSelected]="true"
                    (change)="AudienceChanged($event)"
                    placeholder = "(select any/all that apply)">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox"/> {{item.label}}
                    </ng-template>
                </ng-select>
            </div>
        </div>
        <div *ngIf="otherAudienceSelected && currentUser.extensionPosition.code == 'AGENT'" class="form-group">
            <label for="title" class="control-label col-md-3 col-sm-3 col-xs-12">Other Audience Type:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" name="audienceOther" formControlName="audienceOther" id="audienceOther" class="form-control col-xs-12" />
            </div>
        </div>
        <div *ngIf="currentUser.extensionPosition.code == 'AGENT'" class="form-group">
            <label for="title" class="control-label col-md-3 col-sm-3 col-xs-12">Reach:<br><small>(i.e., number of program participants or attendees)</small></label>           
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="number" name="reach" formControlName="reach" id="reach" class="form-control col-xs-12" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="majorProgramId">Major Program: </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="majorProgramId" id="majorProgramId" formControlName="majorProgramId" class="form-control col-md-7 col-xs-12" >
                    <option value="">--- select ---</option>
                    <optgroup  *ngFor="let initiative of initiatives" label="{{initiative.name}}">
                        <option *ngFor="let program of initiative.majorPrograms" [value]="program.id">{{program.name}} ({{program.pacCode}})</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group" *ngIf="currentUser.extensionPosition.code == 'AGENT'">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="planOfWorkId">Plan of Work: </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="planOfWorkId" id="planOfWorkId" formControlName="planOfWorkId" class="form-control col-md-7 col-xs-12" >	
                    	<option value="">--- select ---</option>
                        <option *ngFor="let plan of plans | async"  [value]="plan.id">{{plan.title}}</option>
                        <option value="3670">Unrelated to a specified County Plan of Work</option>
				</select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="storyOutcomeId">Outcome Type: </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <select name="storyOutcomeId" id="storyOutcomeId" formControlName="storyOutcomeId" class="form-control col-md-7 col-xs-12" >	
                    	<option value="">--- select ---</option>
						<option *ngFor="let out of outcome | async"  [value]="out.id">{{out.name}}</option>
				</select>
            </div>
        </div>
        <div class="form-group" *ngIf="editorOptionsLoaded">
            <div><reporting-display-help [label]="'Writing Effective Success Stories (with Examples)'" id="23"></reporting-display-help></div>
          <!--   Writing Effective Success Stories (with Examples) -->
            <label for="story" class="control-label col-md-3 col-sm-3 col-xs-12">Success Story:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12" [class.description-invalid]="!storyForm.controls.story.valid">
                <textarea [froalaEditor]="options" name="story" formControlName="story" id="story" class="form-control col-xs-12"></textarea>
            </div>
        </div>
        <div class="form-group" *ngIf="editorOptionsLoaded">
            <label for="story" class="control-label col-md-3 col-sm-3 col-xs-12">Snap Ed Related:</label>           
            <div class="col-md-9 col-sm-9 col-xs-12" style="padding-top: 9px;">
                <input type="checkbox" formControlName="isSnap" id="isSnap" />
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a class="btn btn-primary" (click)="onCancel()">Cancel</a>
                <button type="submit" [disabled]="storyForm.invalid"  class="btn btn-success">Submit</button>
            </div>
        </div>
        
    </form>
</div>