<div class="row">
    <div class="col-sm-offset-3 col-sm-9">
        <h2 *ngIf="!countyEvent">New County Event</h2>
        <h2 *ngIf="countyEvent">Update County Event</h2>
        <br><br>
    </div>
    <form class="form-horizontal form-label-left" novalidate (ngSubmit)="onSubmit()" [formGroup]="countyEventForm">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="start">Start Date:</label>
        <div class="col-md-4 col-sm-6 col-xs-7">
          <div class="input-group">
            <input type="text" class="form-control input-box" placeholder="Click to select a date" 
                angular-mydatepicker name="startdate" (click)="dp.toggleCalendar()" 
                formControlName="start" [options]="myDatePickerOptions" 
                #dp="angular-mydatepicker" (dateChanged)="onDateChanged($event)">
            <span class="input-group-addon" id="basic-addon1" (click)="dp.toggleCalendar()"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-0 col-sm-6 col-xs-7 col-sm-offset-3">
          <div [class.notvalid]="countyEventForm.hasError('startTime')" class="clearfix">
            <timepicker formControlName="starttime" [start]="6" [end]="22"></timepicker>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="end">End Date:</label>
            <div class="col-md-4 col-sm-6 col-xs-7">
              <div [class.notvalid]="countyEventForm.hasError('endDate')" >
                <div class="input-group">
                  <input type="text" class="form-control input-box" placeholder="Click to select a date" 
                    [class.ng-invalid]="countyEventForm.hasError('endDate')"
                    angular-mydatepicker name="endDate" (click)="dp1.toggleCalendar()" 
                    formControlName="end" [options]="myDatePickerOptionsEnd" 
                    #dp1="angular-mydatepicker" (dateChanged)="onDateChanged($event)">
                  <span class="input-group-addon" id="basic-addon1" (click)="dp1.toggleCalendar()"><i class="fa fa-calendar"></i></span>
                </div>
                <!--
                <my-date-picker [class.ng-invalid]="countyEventForm.hasError('endDate')" [options]="myDatePickerOptionsEnd" (dateChanged)="onDateChanged($event)" formControlName="end"></my-date-picker>
                  -->
              </div>
            </div>
            <div class="col-md-4 col-md-offset-0 col-sm-6 col-xs-7 col-sm-offset-3" *ngIf="countyEventForm.get('end').value != null">
              <div [class.notvalid]="countyEventForm.hasError('endTime')" >
                <timepicker formControlName="endtime" [start]="6" [end]="22" class="clearfix"></timepicker>
              </div>
            </div>
        </div>
      </div>
      <div class="form-group" >
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="etimezone"><span *ngIf="!countyEventForm.value.hasEndDate">Timezone:</span></label>
        <div class="col-md-5 col-sm-7 col-xs-8">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default" (click)="isEastern(true)" [class.active]="easternTimezone">
                    <input type="radio" name="etimezone" formControlName="etimezone" [value]="true"> Eastern Timezone
                    </label>
                    <label class="btn btn-default" [class.active]="!easternTimezone" (click)="isEastern(false)">
                    <input type="radio" name="etimezone" formControlName="etimezone" [value]="false"> Central Timezone
                    </label>
                </div>
        </div>
        
      </div>
      <div class="form-group">
        <label for="subject" class="control-label col-md-3 col-sm-3 col-xs-12">Title:</label>           
        <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" name="subject" formControlName="subject" id="subject" class="form-control col-xs-12" />
        </div>
      </div>
      <div class="form-group">
          <label for="body" class="control-label col-md-3 col-sm-3 col-xs-12">Description:</label>           
          <div class="col-md-9 col-sm-9 col-xs-12" [class.description-invalid]="!countyEventForm.controls.body.valid">
              <textarea [froalaEditor]="options" name="body" formControlName="body" id="body" class="form-control col-xs-12"></textarea>
          </div>
      </div>
      <div class="form-group">
        <label for="webLink" class="control-label col-md-3 col-sm-3 col-xs-12">Url:</label>           
        <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" name="webLink" formControlName="webLink" id="webLink" class="form-control col-xs-12"/>
            <small> A web address for more information (optional).</small>
        </div>
      </div>
      <div class="form-group" *ngIf="programCategoriesOptions.length > 0">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="specialties">Program Category:</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
              <ng-select
                id="programCategories"
                formControlName="programCategories"
                [items]="programCategoriesOptions"
                [multiple]="true"
                [hideSelected]="true"
                placeholder = "(select any/all that apply)"
              >
              </ng-select>
          </div>
      </div>
      <div class="form-group">
        <label for="multycounty" class="control-label col-md-3 col-sm-3 col-xs-12">Multy County Event:</label>           
        <div class="col-md-9 col-sm-9 col-xs-12">
            <label class="switch">
              <input type="checkbox" id="multycounty" formControlName="multycounty">
              <div class="slider round" (click)="onMultyChecked()"></div>
          </label>
        </div>
      </div>
  
  
      <div class="form-group" *ngIf="planningUnitsOptions.length > 0 && multycounty">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="specialties">Counties:</label>
          <div class="col-md-9 col-sm-9 col-xs-12">
              <ng-select
                  id="units"
                  formControlName="units"
                  [items]="planningUnitsOptions"
                  [multiple]="true"
                  [hideSelected]="true"
                  placeholder = "(select any/all that apply)">
              </ng-select>
              <small>The rule for entering an event is that the event takes place in your county. If this is a multi-county event only the host county should enter the event. As the host county, select from the list above each county (in addition to your county) that is associated with this multi-county event.
          </small>
          </div>
          
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Location:</label>
        <div  class="col-md-6 col-sm-9 col-xs-12">
          <br>
          <div *ngIf="!locationBrowser">
            <h4>{{selectedLocation.address.building}}</h4>
            <h5>{{selectedLocation.address.street}}</h5>
            <h5>{{selectedLocation.address.city}} {{selectedLocation.address.state != ""?", "+selectedLocation.address.state:""}} {{selectedLocation.address.postalCode}}</h5>
          </div>
          <a *ngIf="!selectedLocation && !locationBrowser" class="btn btn-info btn-xs" (click)="locationBrowser = true"> add locaton</a>
          <a *ngIf="selectedLocation && !locationBrowser" class="btn btn-info btn-xs" (click)="editLocation()"> change locaton</a>
        </div>
        <div *ngIf="locationBrowser" class="col-md-9 col-sm-9 col-xs-12">
          <location-browser *ngIf="county" [county]="county" (onSelected)="locationSelected($event)"></location-browser>
        </div>
      </div>
      <div class="ln_solid"></div>
      <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <a class="btn btn-primary" (click)="onCancel()">Cancel</a>
              <button type="submit" [disabled]="countyEventForm.invalid"  class="btn btn-success">Submit</button>
          </div>
      </div>
        
    </form>
  </div>