@if (row) {
  <td>{{ profile.personName }}</td>
}
@if (row) {
  <td>{{ profile.positionID }}</td>
}
@if (row) {
  <td>{{ profile.planningUnitName }}</td>
}
@if (row) {
  <td class="text-right">
    <button (click)="onEditReporting()" class="btn btn-info btn-xs">reporting profile</button>
    <button (click)="onEditPersonal()" class="btn btn-info btn-xs">personal profile</button>
    <button (click)="onEditRoles()" class="btn btn-info btn-xs">roles</button>
    <button [routerLink]="['/reporting/user', $safeNavigationMigration((u | async)?.id) ]" class="btn btn-info btn-xs">details</button>
  </td>
}
@if (editReporting) {
  <td colspan="3">
    <div>{{ profile.personName }}</div>
    <user-reporting-form [userObservable]="u" (onFormCancel)="onClose()" (onFormSubmit)="profileUpdated(event)" [adminEdit]="true"></user-reporting-form>
  </td>
}
@if (editPersonal) {
  <td colspan="3">
    <div>{{ profile.personName }}</div>
    <user-personal-form [userObservable]="u" (onFormCancel)="onClose()" (onFormSubmit)="profileUpdated(event)"></user-personal-form>
  </td>
}
@if (editRoles) {
  <td colspan="3">
    <div>{{ profile.personName }}</div>
    <roles-edit-form [user]="u" (onFormCancel)="onClose()" (onFormSubmit)="profileUpdated(event)"></roles-edit-form>
  </td>
}
@if (!row) {
  <td class="text-right"><button (click)="onClose()" class="btn btn-info btn-xs">close</button></td>
}
