@if (rowOppened) {
  <td>{{group.name}} <small>{{positionRestriction}} {{roleRestriction}}</small></td>
  }@if (rowOppened) {
  <td></td>
}
@if (rowOppened) {
  <td class="text-right" >
    <button (click)="items()" class="btn btn-info btn-xs">items</button>
    <button (click)="edit()" class="btn btn-info btn-xs">edit</button>
    <button (click)="delete()" class="btn btn-info btn-xs">delete</button>
    @if (errorMessage) {
      <span>{{errorMessage}}</span>
    }
  </td>
}
@if (editOppened) {
  <td colspan="2">
    <navigation-group-form (onFormSubmit)="onUpdateSubmit($event)" (onFormCancel)="close()" [group]="group" ></navigation-group-form>
  </td>
}
@if (editOppened) {
  <td class="text-right" >
    <button (click)="close()" class="btn btn-info btn-xs">close</button>
  </td>
}
@if (deleteOppened) {
  <td colspan="2">Do you really want to delete group {{group.name}}?<br><button (click)="confirmDelete()" class="btn btn-info btn-xs">Yes</button> <button (click)="close()" class="btn btn-info btn-xs">No</button></td>
}
@if (deleteOppened) {
  <td class="text-right" >
    <button (click)="close()" class="btn btn-info btn-xs">close</button>
  </td>
}
@if (itemsOppened) {
  <td colspan="2">
    <div>{{group.name}}</div>
    <admin-nav-items [group]="group" (itemAdded)="newItem($event)" (itemDeleted)="itemDeleted($event)"></admin-nav-items>
  </td>
}
@if (itemsOppened) {
  <td class="text-right" >
    <button (click)="close()" class="btn btn-info btn-xs">close</button>
  </td>
}