<div>
  <div class="text-right">
    @if (!newActivity) {
      <a class="btn btn-info btn-xs" (click)="newActivity = true">+ new service log record</a>
    }
  </div>
  @if (newActivity) {
    <servicelog-form (onFormCancel)="newActivity=false" (onFormSubmit)="newActivitySubmitted($event)"></servicelog-form>
  }
</div>
<br>

  <servicelog-list [byMonth]="byMonth" (onDeleted)="deleted($event)" (onEdited)="edited($event)"></servicelog-list>

  @if (numbActivities != 0) {
    <div class="text-center">
      <div>Showing {{latest.length}} of {{numbActivities}} Service Logs</div>
      @if (latest.length < numbActivities && !loading) {
        <div class="btn btn-app" style="width: 97%; margin-right: 35px;" (click)="loadMore()">
          load more <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
      }
      @if (loading) {
        <loading type="bars"></loading>
      }
    </div>
  }