<h3 class="title">Plans of Work</h3>
<p>Existing Plans of Work are copied from the current fiscal year.<br>This lists includes those counties that did not edit their Plans of Work.</p>

<div *ngIf="counties | async; else loading; let cnts">
  <div class="col-lg-4 col-md-6 col-xs-12" *ngFor="let county of cnts">
      <a [routerLink]="['/reporting/county', county.id]" class="btn btn-dark btn-lg btn-block">{{county.name.substring(0, county.name.length - 11)}}</a>
  </div>
  <div *ngIf="cnts.length == 0">All counties submitted their Plans of Work.</div>
</div>
<ng-template #loading>
  <loading></loading>
</ng-template>
