<h3>Affirmative Action Report</h3>
<p>This list includes those counties that did not submit “Efforts” or “Successes” in the Affirmative Action Report.</p>

<div *ngIf="counties | async; else loading; let cnts">
  <div class="col-lg-4 col-md-6 col-xs-12" *ngFor="let county of cnts">
      <a [routerLink]="['/reporting/county', county.id]" class="btn btn-dark btn-lg btn-block">{{county.name.substring(0, county.name.length - 11)}}</a>
  </div>
  <div *ngIf="cnts.length == 0">All counties submitted their Affirmative Action Report.</div>
</div>
<ng-template #loading>
  <loading></loading>
</ng-template>
