<h3>Affirmative Action Report</h3>
<p>This list includes those counties that did not submit “Efforts” or “Successes” in the Affirmative Action Report.</p>

@if (counties | async; as cnts) {
  <div>
    @for (county of cnts; track county) {
      <div class="col-lg-4 col-md-6 col-xs-12">
        <a [routerLink]="['/reporting/county', county.id]" class="btn btn-dark btn-lg btn-block">{{county.name.substring(0, county.name.length - 11)}}</a>
      </div>
    }
    @if (cnts.length == 0) {
      <div>All counties submitted their Affirmative Action Report.</div>
    }
  </div>
} @else {
  <loading></loading>
}
