<h3 class="title">Plans of Work</h3>
<p>Existing Plans of Work are copied from the current fiscal year.<br>This lists includes those counties that did not edit their Plans of Work.</p>

@if (counties | async; as cnts) {
  <div>
    @for (county of cnts; track county) {
      <div class="col-lg-4 col-md-6 col-xs-12">
        <a [routerLink]="['/reporting/county', county.id]" class="btn btn-dark btn-lg btn-block">{{county.name.substring(0, county.name.length - 11)}}</a>
      </div>
    }
    @if (cnts.length == 0) {
      <div>All counties submitted their Plans of Work.</div>
    }
  </div>
} @else {
  <loading></loading>
}
