<br><br>
<h3>Budget Plan</h3>
<br><br>
<div id="wizard" class="form_wizard wizard_horizontal">
<ul class="wizard_steps anchor">
<li>
<a (click)="step=1" [ngClass]="{'selected': step==1, 'disabled':step!=1}" isdone="1" rel="1">
<span class="step_no">1</span>
<span class="step_descr">
Income<br>
<small></small>
</span>
</a>
</li>
<li>
<a (click)="step=2" [ngClass]="{'selected': step==2, 'disabled':step!=2}" isdone="0" rel="2">
<span class="step_no">2</span>
<span class="step_descr">
  Personnel<br>
<small>Professional Staff<br>Support Staff & Base Program Support</small>
</span>
</a>
</li>
<li>
<a (click)="step=3" [ngClass]="{'selected': step==3, 'disabled':step!=3}" isdone="0" rel="3">
<span class="step_no">3</span>
<span class="step_descr">
  Travel<br>
<small>Professional Improvement<br>Program Support</small>
</span>
</a>
</li>
<li>
<a (click)="step=4" [ngClass]="{'selected': step==4, 'disabled':step!=4}" isdone="0" rel="4">
<span class="step_no">4</span>
<span class="step_descr">
  Office Operations<br>
<small></small>
</span>
</a>
</li>
<li>
  <a (click)="step=5" [ngClass]="{'selected': step==5, 'disabled':step!=5}" isdone="0" rel="5">
  <span class="step_no">5</span>
  <span class="step_descr">
      Reserves<br>
  <small></small>
  </span>
  </a>
</li>

</ul>
<div style="margin: 25px 50px;">
  <form class="form-horizontal form-label-left" [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
      <div id="step-1" class="content"  [hidden]="step!=1">
      
          <h3>Anticipated Income</h3>
          <h2>
              Calculation of anticipated net income if county has an Extension Taxing District
          </h2><br><br>
          <div class="form-group">
            <label class="control-label col-md-2 col-sm-3 col-xs-12" for="first-name">Real Property
            </label>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <div class="row">
                    <div class="col-sm-4">
                            <input type="number" class="form-control" formControlName="realPropertyAssesment"/>
                            <small>(Assessment Subject to Rate)</small>
                    </div>
                    <div class="col-sm-1 math-sign text-center">
                            x
                    </div>
                    <div class="col-sm-2">
                            <input type="number" class="form-control" formControlName="realPropertyTaxRate"/>
                            <small>(Tax Rate)</small>
                    </div>
                    <div class="col-sm-1 math-sign text-center">
                            =
                    </div>
                    <div class="col-sm-4 math-sign text-right">
                            {{+budgetForm.get("realPropertyAssesment").value/100 * +budgetForm.get("realPropertyTaxRate").value/100 | currency:'USD':'symbol':'.2-2'}}
                    </div>
                </div>
            </div>
          </div>


          <br>

          <div class="form-group">
              <label class="control-label col-md-2 col-sm-3 col-xs-12" for="first-name">Personal Property
              </label>
              <div class="col-md-10 col-sm-9 col-xs-12">
                    <div class="row">
                        <div class="col-sm-4">
                                <input type="number" class="form-control" formControlName="personalPropertyAssesment"/>
                                <small>(Assessment Subject to Rate)</small>
                        </div>
                        <div class="col-sm-1 math-sign text-center">
                                x
                        </div>
                        <div class="col-sm-2">
                                <input type="number" class="form-control" formControlName="personalPropertyTaxRate"/>
                                <small>(Tax Rate)</small>
                        </div>
                        <div class="col-sm-1 math-sign text-center">
                                =
                        </div>
                        <div class="col-sm-4 math-sign text-right">
                                {{+budgetForm.get("personalPropertyAssesment").value/100 * +budgetForm.get("personalPropertyTaxRate").value/100 | currency:'USD':'symbol':'.2-2'}}
                        </div>
                    </div>
              </div>
          </div>
  
  
          <br>

          <div class="form-group">
              <label class="control-label col-md-2 col-sm-3 col-xs-12" for="first-name">Motor Veh/Watercraft
              </label>
              <div class="col-md-10 col-sm-9 col-xs-12">
                    <div class="row">
                        <div class="col-sm-4">
                                <input type="number" class="form-control" formControlName="motorVehicleAssesment"/>
                                <small>(Assessment Subject to Rate)</small>
                        </div>
                        <div class="col-sm-1 math-sign text-center">
                                x
                        </div>
                        <div class="col-sm-2">
                                <input type="number" class="form-control" formControlName="motorVehicleTaxRate"/>
                                <small>(Tax Rate)</small>
                        </div>
                        <div class="col-sm-1 math-sign text-center">
                                =
                        </div>
                        <div class="col-sm-4 math-sign text-right">
                                {{+budgetForm.get("motorVehicleAssesment").value/100 * +budgetForm.get("motorVehicleTaxRate").value/100 | currency:'USD':'symbol':'.2-2'}}
                        </div>
                    </div>
              </div>
              </div>
      
      
              <br>

              <div class="form-group">
                  <label class="control-label col-md-2 col-sm-3 col-xs-12" for="first-name">Total Gross Income
                  </label>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                        <div class="row">
                            <div class="col-sm-4 math-sign">
                                    {{totalGrossIncome() | currency:'USD':'symbol':'.2-2'}}
                            </div>
                            <div class="col-sm-1 math-sign text-center">
                                    x
                            </div>
                            <div class="col-sm-2">
                                    <input type="number" class="form-control" formControlName="anticipatedDelinquency"/>
                                    <small>(Anticipated Delinquency)</small>
                            </div>
                            <div class="col-sm-1 math-sign text-center">
                                    =
                            </div>
                            <div class="col-sm-4 math-sign text-right">
                                    {{withDelinquency() | currency:'USD':'symbol':'.2-2'}}
                            </div>
                        </div>
                  </div>
              </div>

              <br>

              <div class="form-group">
                  <label class="control-label col-md-2 col-sm-3 col-xs-12" for="first-name">Subtotal Gross Income
                  </label>
                  <div class="col-md-10 col-sm-9 col-xs-12">

                        <div class="row">
                            <div class="col-sm-4 math-sign">
                                    {{withDelinquency() | currency:'USD':'symbol':'.2-2'}}
                            </div>
                            <div class="col-sm-1 math-sign text-center">
                                    x
                            </div>
                            <div class="col-sm-2">
                                    <input type="number" class="form-control" formControlName="collection"/>
                                    <small>(Collection)</small>
                            </div>
                            <div class="col-sm-1 math-sign text-center">
                                    =
                            </div>
                            <div class="col-sm-4 math-sign text-right">
                                    {{subtotalGrossIncome() | currency:'USD':'symbol':'.2-2'}}
                                    <br>Net Income
                            </div>
                        </div>
                  </div>
                  </div>
                  <br><br>
              <div class="form-group">
                  <div class="col-md-2 col-sm-3 col-xs-6 text-right"><strong><em>Source of Income</em></strong></div>
                  <div class="col-md-10 col-sm-9 col-xs-6"><strong><em>Amount</em></strong></div>
              </div>
                  <br>
              <div class="form-group">
                  <label class="control-label col-md-2 col-sm-3 col-xs-6">Ext Dist Tax
                  </label>
                  <div class="col-md-6 col-sm-7 col-xs-6  math-result">
                    {{subtotalGrossIncome() | currency:'USD':'symbol':'.0-2'}}
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-2 col-sm-3 col-xs-6">Other Ext Dist Taxes
                  </label>
                  <div class="col-md-6 col-sm-7 col-xs-6">
                  <input type="number" class="form-control col-md-3 col-xs-6">
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-md-2 col-sm-3 col-xs-6">Other Ext Dist Taxes
                  </label>
                  <div class="col-md-6 col-sm-7 col-xs-6">
                  <input type="number" class="form-control col-md-3 col-xs-6">
                  </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-2 col-sm-3 col-xs-6" for="first-name">Interest
                </label>
                <div class="col-md-6 col-sm-7 col-xs-6">
                    <input type="number" class="form-control col-md-3 col-xs-6">
                </div>
              </div>


              <div class="form-group" formArrayName="userDefinedIncome">
                <label class="control-label col-md-2 col-sm-3 col-xs-6">User Defined
                </label>
                <div class="col-md-10 col-sm-9 col-xs-10">
                    <a class="btn btn-info btn-xs" (click)="addUserDefinedIncome()" style="margin-top: 8px;"> + add </a>
                    <div *ngFor="let userDefinedIncome of userDefinedIncomes.controls; let i=index" class="form-group">
                        <!-- repeated user defined income template -->
                        <budget-user-defined-income [index]="i" (removeMe)="userDefinedIncomeRemoved($event)" [formControlName]="i"></budget-user-defined-income>
    
                    </div>
                </div>
              </div>
              

              <div class="form-group">
                  <label class="control-label col-md-2 col-sm-3 col-xs-6">Total
                  </label>
                  <div class="col-md-6 col-sm-7 col-xs-6 math-result">
                        {{subtotalGrossIncome() | currency:'USD':'symbol':'.0-2'}}
                  </div>
              </div>
      
      





          
      
  </div>
  <div id="step-2" class="content" [hidden]="step!=2">
  <h3 class="StepTitle">Personnel</h3>
        <h2>Professional Staff
          Support Staff & Base Program Support</h2><br><br>
       
 
        <div class="form-group" formArrayName="budgetPlanStaffExpenditures">
            <h3>Support Personnel at Benefit Rate of 50%</h3><br>
            <div class="col-xs-12">
                <div *ngFor="let userDefinedIncome of staffSupportExpenditures1; let i=index" class="form-group">
                    <budget-personel-support-staff [employees]="unitEmployees" (removeMe)="supportStaffExpenditureRemoved($event)" [formControlName]="userDefinedIncome.value.index"></budget-personel-support-staff>
                </div>
                <a class="btn btn-info btn-xs" (click)="addSupportStaffExpenditure()" style="margin-top: 8px;"> + add </a>
            </div>
            <div class="clear"><br><br></div>
            <h3>Support Part-Time/Temp Personnel at Benefit Rate of 9%</h3><br>
            <div class="col-xs-12">
                <div *ngFor="let userDefinedIncome of staffSupportExpenditures2; let i=index" class="form-group">
                    <budget-personel-support-staff [employees]="unitEmployees" (removeMe)="supportStaffExpenditureRemoved($event)" [formControlName]="userDefinedIncome.value.index"></budget-personel-support-staff>
                </div>
                <a class="btn btn-info btn-xs" (click)="addSupportStaffExpenditure(9,2)" style="margin-top: 8px;"> + add </a>
            </div>
            <div class="clear"><br><br></div>
            <h3>Agent Positions 4th and Up at Benefit Rate of 38%</h3><br>
            <div class="col-xs-12">
                <div *ngFor="let userDefinedIncome of staffSupportExpenditures3; let i=index" class="form-group">
                    <budget-personel-support-staff [employees]="unitEmployees" (removeMe)="supportStaffExpenditureRemoved($event)" [formControlName]="userDefinedIncome.value.index"></budget-personel-support-staff>
                </div>
                <a class="btn btn-info btn-xs" (click)="addSupportStaffExpenditure(38,3)" style="margin-top: 8px;"> + add </a>
            </div>
            <div class="clear"><br><br></div>
            <h3>Temporarily County Funded Agent Positions</h3><br>
            <div class="col-xs-12">
                <div *ngFor="let userDefinedIncome of staffSupportExpenditures4; let i=index" class="form-group">
                    <budget-personel-support-staff [employees]="unitEmployees" (removeMe)="supportStaffExpenditureRemoved($event)" [formControlName]="userDefinedIncome.value.index"></budget-personel-support-staff>
                </div>
                <a class="btn btn-info btn-xs" (click)="addSupportStaffExpenditure(0,4)" style="margin-top: 8px;"> + add </a>
            </div>
            <div class="clear"><br><br></div>
            <h3>Other at Benefit Rate of 9%</h3><br>
            <div class="col-xs-12">
                <div *ngFor="let userDefinedIncome of staffSupportExpenditures5; let i=index" class="form-group">
                    <budget-personel-support-staff [employees]="unitEmployees" (removeMe)="supportStaffExpenditureRemoved($event)" [formControlName]="userDefinedIncome.value.index"></budget-personel-support-staff>
                </div>
                <a class="btn btn-info btn-xs" (click)="addSupportStaffExpenditure(9,5)" style="margin-top: 8px;"> + add </a>
            </div>
        </div>
        <table class="table table-bordered" style="background-color:rgba(233, 226, 122, 0.3);">
            <thead>
                <tr>
                    <th>Person</th>
                    <th>Salary</th>
                    <th>Benefits</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let row of budgetForm.value.budgetPlanStaffExpenditures">
                        <td>{{supportStaffRowPerson(row)}}</td>
                        <td class="text-right">{{row.hourlyRate * row.hoursPerWeek | currency:'USD':'symbol':'.2-2'}}</td>
                        <td class="text-right">{{row.hourlyRate * row.hoursPerWeek * (row.benefitRateInPercents / 100) | currency:'USD':'symbol':'.2-2'}}</td>
                        <td class="text-right">{{supportStaffRowSum(row) | currency:'USD':'symbol':'.2-2'}}</td>
                    </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><strong>Professional Staff Salaries</strong></td>
                    <td class="text-right">{{supportStaffTotalSalaries() | currency:'USD':'symbol':'.2-2'}}</td>
                    <td class="text-right">{{supportStaffTotalBenefits() | currency:'USD':'symbol':'.2-2'}}</td>
                    <td class="text-right">{{supportStaffTotalAmount() | currency:'USD':'symbol':'.2-2'}}</td>
                </tr>
            </tfoot>
        </table>
  </div>
  <div id="step-3" class="content" [hidden]="step!=3">
        <h3>Travel, 
          Professional Improvement, 
          Program Support</h3>
          <div class="form-group" formArrayName="travelExpenses"><br>
            <h2>Travel</h2><br>
            <div class="col-xs-12">
                <div *ngFor="let userDefinedIncome of travelExpenses.controls; let i=index" class="form-group">
                    <budget-travel-expenses [employees]="unitEmployees" (removeMe)="supportStaffExpenditureRemoved($event)" [formControlName]="i"></budget-travel-expenses>
                </div>
                <a class="btn btn-info btn-xs" (click)="addTravelExpenditure()" style="margin-top: 8px;"> + add </a>
            </div>
            
        </div>
        <div class="form-group" formArrayName="professionalImprovemetnExpenses"><br>
            <h2>PROFESSIONAL IMPROVEMENT: <small>(include only if all other expenses have been met; up to $3,500/Agent and up to $1,000/Agent for ESP members)</small></h2><br>
            <div class="col-xs-12">
                <div *ngFor="let userDefinedIncome of professionalImprovemetnExpenses.controls; let i=index" class="form-group">
                    <budget-professional-improvement-expenses [employees]="unitEmployees" (removeMe)="supportStaffExpenditureRemoved($event)" [formControlName]="i"></budget-professional-improvement-expenses>
                </div>
                <a class="btn btn-info btn-xs" (click)="addTravelExpenditure()" style="margin-top: 8px;"> + add </a>
            </div>
            
        </div>
        <table class="table table-bordered" style="background-color:rgba(233, 226, 122, 0.3);">
            <thead>
                <tr>
                    <th>Person</th>
                    <th>Salary</th>
                    <th>Benefits</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let row of budgetForm.value.budgetPlanStaffExpenditures">
                        <td>{{supportStaffRowPerson(row)}}</td>
                        <td class="text-right">{{row.hourlyRate * row.hoursPerWeek | currency:'USD':'symbol':'.2-2'}}</td>
                        <td class="text-right">{{row.hourlyRate * row.hoursPerWeek * (row.benefitRateInPercents / 100) | currency:'USD':'symbol':'.2-2'}}</td>
                        <td class="text-right">{{supportStaffRowSum(row) | currency:'USD':'symbol':'.2-2'}}</td>
                    </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><strong>Professional Staff Salaries</strong></td>
                    <td class="text-right">{{supportStaffTotalSalaries() | currency:'USD':'symbol':'.2-2'}}</td>
                    <td class="text-right">{{supportStaffTotalBenefits() | currency:'USD':'symbol':'.2-2'}}</td>
                    <td class="text-right">{{supportStaffTotalAmount() | currency:'USD':'symbol':'.2-2'}}</td>
                </tr>
            </tfoot>
        </table>
  </div>
  <div id="step-4" class="content" *ngIf="step==4">
        <h3>Office Operations</h3>
        <p></p>
        <office-operations formControlName="officeOperationValues" name="officeOperations"></office-operations>
        
  </div>
  <div id="step-5" class="content" [hidden]="step!=5">
      <h3 class="StepTitle">Reserves</h3>
      <div class="form-group">
            <label class="control-label col-md-2 col-sm-3 col-xs-6" for="first-name">Reserve
            </label>
            <div class="col-md-6 col-sm-7 col-xs-6">
            <input type="number" class="form-control col-md-3 col-xs-6">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3 col-xs-6" for="first-name">Capital Imp Fund
            </label>
            <div class="col-md-6 col-sm-7 col-xs-6">
            <input type="number" class="form-control col-md-3 col-xs-6">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3 col-xs-6" for="first-name">Equipment Fund
            </label>
            <div class="col-md-6 col-sm-7 col-xs-6">
            <input type="number" class="form-control col-md-3 col-xs-6">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-3 col-xs-6" for="first-name">Anticipated Carryover
            </label>
            <div class="col-md-6 col-sm-7 col-xs-6">
            <input type="number" class="form-control col-md-3 col-xs-6">
            </div>
        </div>
  
  </div>
  <div class="actionBar">
        <div class="msgBox">
          <div class="content"></div>
          <a href="#" class="close">X</a></div>
          <div class="loader">Loading</div>
         <!-- <a class="buttonFinish buttonDisabled btn btn-default">Finish</a>-->
         <a class="buttonPrevious btn btn-info" [class.buttonDisabled]="step<2" (click)="step=step-1">Previous</a>
          <a class="buttonNext btn btn-info" [class.buttonDisabled]="step>4" (click)="step=step+1">Next</a>
          
        </div>
        
  <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-sm-offset-3 col-md-offset-2">
                    <a class="btn btn-primary" (click)="onCancel()">Cancel</a>
                    <button type="submit" [disabled]="budgetForm.invalid"  class="btn btn-success">Submit</button>
                </div>
            </div>
  </form>
</div>
</div>
