<div>
    <p>
      <a class="btn btn-default" [routerLink]="['/reporting/training/upcomming']" routerLinkActive="active">Schedule of Disbursments</a> 
      <a class="btn btn-default" [routerLink]="['/reporting/training/transcript']" routerLinkActive="active">Memorandum of Agreement</a> 
      <a class="btn btn-default" [routerLink]="['/reporting/budget/plan']" routerLinkActive="active">Budget Plan</a>
    </p>
    <p>
      <a class="btn btn-default" [routerLink]="['/reporting/training/propose']" routerLinkActive="active">Budget Amend</a> 
      <a class="btn btn-default"[routerLink]="['/reporting/training/postattendance']" routerLinkActive="active">Operational Expenditures</a> 
    </p>
    <p>
        <a class="btn btn-default" [routerLink]="['/reporting/training/proposals']" routerLinkActive="active">Programs Support Funds Budget</a>
        <a class="btn btn-default" [routerLink]="['/reporting/training/admincatalog']" routerLinkActive="active">5 Years Financial Plan for Service</a>
        <a class="btn btn-default" [routerLink]="['/reporting/training/adminenrollment']" routerLinkActive="active">10 Years Financial Plan of Service</a>
        <a class="btn btn-default" [routerLink]="['/reporting/training/adminmanagers']" routerLinkActive="active">SPGE Budget Summary Instructions</a>
        <a class="btn btn-default" [routerLink]="['/reporting/training/adminreports']" routerLinkActive="active">Summary</a> 
    </p>
  </div>
<budget-plan-form></budget-plan-form>