<loading *ngIf="loading"></loading>
<div *ngIf="proposed">
    Your training has been proposed.
    <a class="btn btn-info" (click)="proposed=false">Propose new training.</a>
</div>
<div class="row" *ngIf="!loading && !proposed">
  <div class="col-sm-offset-3 col-sm-9">
      <h2 *ngIf="!training">Propose Training</h2>
      <h2 *ngIf="training">Update Training</h2>
      <br><br>
  </div>
  <form class="form-horizontal form-label-left" novalidate (ngSubmit)="onSubmit()" [formGroup]="trainingForm">
    
    <div class="form-group">
        <label for="subject" class="control-label col-md-3 col-sm-3 col-xs-12">Title:</label>           
        <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" name="subject" formControlName="subject" id="subject" class="form-control col-xs-12" />
        </div>
    </div>
    <div class="form-group">
        <label for="body" class="control-label col-md-3 col-sm-3 col-xs-12">Description:</label>           
        <div class="col-md-9 col-sm-9 col-xs-12" [class.description-invalid]="!trainingForm.controls.body.valid">
            <textarea [froalaEditor]="options" name="body" formControlName="body" id="body" class="form-control col-xs-12"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="tAudience" class="control-label col-md-3 col-sm-3 col-xs-12">Audience:</label>           
        <div class="col-md-9 col-sm-9 col-xs-12" >
            <textarea [froalaEditor]="options" name="tAudience" formControlName="tAudience" id="tAudience" class="form-control col-xs-12"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="tContact" class="control-label col-md-3 col-sm-3 col-xs-12">Contact:</label>           
        <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" name="tContact" formControlName="tContact" id="tContact" class="form-control col-xs-12" />
        </div>
    </div>
    <div class="form-group">
        <label for="tLocation" class="control-label col-md-3 col-sm-3 col-xs-12">Location:</label>           
        <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" name="tLocation" formControlName="tLocation" id="tLocation" class="form-control col-xs-12" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="etimezone">Timezone:</label>
        <div class="col-md-5 col-sm-7 col-xs-8">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default" (click)="isEastern(true)" [class.active]="easternTimezone">
                    <input type="radio" name="etimezone" formControlName="etimezone" [value]="true"> Eastern Timezone
                    </label>
                    <label class="btn btn-default" [class.active]="!easternTimezone" (click)="isEastern(false)">
                    <input type="radio" name="etimezone" formControlName="etimezone" [value]="false"> Central Timezone
                    </label>
                </div>
        </div>
    </div>
    <br><br>
    <div class="form-group" formArrayName="sessions">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Sessions
        </label>
        <div class="col-md-9 col-sm-9 col-xs-10">
            
            <div *ngFor="let session of sessions.controls; let i=index" class="form-group">
                <!-- repeated user defined income template -->
                <training-session [index]="i" (removeMe)="sessionRemoved($event)" [formControlName]="i"></training-session>

            </div>
            <a class="btn btn-info btn-xs" (click)="addSession()" style="margin-top: 8px;"> + add session</a>
        </div>
    </div>
    <br><br>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="countyVehicleId">Instructional Hours:</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select name="startingLocationType" formControlName="iHourId" class="form-control col-md-7 col-xs-12">
                <option value="">-- select --</option>
                <option *ngFor="let hour of iHours | async" [value]="hour.id">{{hour.iHoursTxt}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cancelCutoffDaysId">Last Day to Cancel:<br><small style="font-weight: normal;">(the last day an individual may cancel their enrollment on-line)</small>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select name="cancelCutoffDaysId" formControlName="cancelCutoffDaysId" class="form-control col-md-7 col-xs-12">
                <option value="">-- select --</option>
                <option *ngFor="let canc of cancelWindow | async" [value]="canc.id">{{canc.cancelDaysTxt}}</option>
            </select>
            </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="registerCutoffDaysId">Last Day to Register:<br><small style="font-weight: normal;">(the last day an individual may register for the session)</small></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select name="registerCutoffDaysId" formControlName="registerCutoffDaysId" class="form-control col-md-7 col-xs-12">
                <option value="">-- select --</option>
                <option *ngFor="let regstr of registerWindow | async" [value]="regstr.id">{{regstr.registerDaysTxt}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="seatLimit" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-9 col-sm-9 col-xs-12">
                <br><br>If this training will be limited to a specific number of participants, please provide the maximum number (of participants allowed) in the text box below. Otherwise, leave the text box blank.
        </div>
    </div>
    <div class="form-group">
        <label for="seatLimit" class="control-label col-md-3 col-sm-3 col-xs-12">Seat Limit:</label>           
        <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="number" name="seatLimit" formControlName="seatLimit" id="seatLimit" class="form-control col-xs-12" />
        </div>
    </div>
    <div class="form-group" *ngIf="training">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tStatus">Status:</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select name="registerCutoffDaysId" formControlName="tStatus" class="form-control col-md-7 col-xs-12">
                <option [value]="'P'">Keep as Pending Proposal</option>
                <option [value]="'A'">Move to Catalog</option>
                <option [value]="'C'">Canceled Training</option>
            </select>
        </div>
    </div>     
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a class="btn btn-primary" (click)="onCancel()">Cancel</a>
            <button type="submit" [disabled]="trainingForm.invalid"  class="btn btn-success">Submit</button>
        </div>
    </div>
      
  </form>
</div>