<h3 *ngIf="!attendance">Training Catalog</h3>
<h3 *ngIf="attendance">Post Attendance</h3>
<div class="row">
  <div class="col-sm-6 col-xs-12" style="margin-top: 3px;">
    <input type="text" [(ngModel)]="criteria.search" placeholder="search by title" (keyup)="onSearch($event)" class="form-control" name="Search" />
  </div>
  <div class="col-sm-6 col-xs-12 text-right" style="margin-top: 3px;">
      <my-date-range-picker name="mydaterange" [(ngModel)]="model" [options]="myDateRangePickerOptions" (dateRangeChanged)="dateCnanged($event)"></my-date-range-picker>
  </div>

</div>


<a (click)="condition = !condition" style="cursor: pointer;"><i class="fa fa-minus-square" *ngIf="condition"></i>
  <i class="fa fa-plus-square" *ngIf="!condition"></i> more search options
</a>
<div class="row">
  <form *ngIf="condition" class="form-horizontal form-label-left">
    <div class="col-sm-offset-3 col-sm-9">
      <h2>Refine Search</h2>
    </div>
    <div class="form-group" >
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Day of the week</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select [(ngModel)]="criteria.day" class="form-control" (change)="onDayChange($event)" name="dayOfTheWeek">
                <option value="">-- Select --</option>
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
                <option value="0">Sunday</option>
            </select>
        </div>
    </div>
    <div class="form-group" >
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Contact</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" [(ngModel)]="criteria.contacts" name="contact" (keyup)="onSearchContact($event)" />
        </div>
    </div>
    <div class="form-group" >
        <label class="control-label col-md-3 col-sm-3 col-xs-12">With open seats</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="checkbox" (change)="onSeatsChange($event)" name="withSeats" />
        </div>
    </div>
    <div class="form-group" >
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Order by</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default" [class.active]="type=='dsc'">
                <input type="radio" name="type" id="option2" (click)="switchOrder('dsc')"> Date Descending
                </label>
                <label class="btn btn-default" [class.active]="type=='asc'">
                  <input type="radio" name="type" id="option3" (click)="switchOrder('asc')"> Date Ascending
                </label>
                <label class="btn btn-default" [class.active]="type=='alph'">
                    <input type="radio" name="type" id="option4" (click)="switchOrder('alph')"> Alphabetically
                  </label>
            </div>
        </div>
    </div>  
    
    
    
  </form>
</div><br>



<div class="table-responsive">
  
  <table class="table table-bordered table-striped" *ngIf="trainings$ | async as trainings">
      <thead>
          <tr *ngIf="admin && !attendance">
            <th>Date(s)</th>
            <th>Title</th>
            <th>Location</th>
            <th>Time</th>
            <th>Proposed By</th>
            <th></th>
          </tr>
          <tr *ngIf="!admin && !attendance">
            <th></th>
            <th>Date(s)</th>
            <th>Title</th>
            <th>Location</th>
            <th>Time</th>              
          </tr>
          <tr *ngIf="!admin && attendance">
            <th>Training Date(s)</th>
            <th>Hours</th>
            <th>Title</th>
            <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody *ngIf="!loading && !attendance">
        <tr [training-detail]="training" [criteria]="criteria" [admin]="admin" (onDeleted)="deletedTraining($event)" *ngFor="let training of trainings"></tr>
      </tbody>
      <tbody *ngIf="!loading && attendance">
        <tr *ngFor="let training of trainings" [training-post-attendance-detail]="training"></tr>
      </tbody>
  </table>
  <loading *ngIf="loading"></loading>
</div>