
    <td *ngIf="rowDefault">{{training.start | date:'mediumDate'}} <span *ngIf="training.end"><br>{{training.end | date:'mediumDate'}}</span></td>
    <td *ngIf="rowDefault">{{training.subject}}</td>
    <td *ngIf="rowDefault">{{training.tLocation}}</td>
    <td *ngIf="rowDefault">{{training.tTime}}</td>
    <td *ngIf="rowDefault"><span>{{training.submittedBy.personalProfile.firstName}} {{training.submittedBy.personalProfile.lastName}}</span></td>
    <td *ngIf="rowDefault" class="text-right">
        <a class="btn btn-info btn-xs" (click)="edit()" *ngIf="rowDefault"><i class="fa fa-pencil"></i> Edit</a>
        <a class="btn btn-info btn-xs" (click)="delete()" *ngIf="rowDefault"><i class="fa fa-trash-o"></i> Delete</a>
        <a class="btn btn-primary btn-xs" (click)="default()" *ngIf="!rowDefault"><i class="fa fa-close"></i> Close</a>
    </td>


        
        
