<ng-container *ngIf="admin">
    <td *ngIf="rowDefault">{{training.start | date:'mediumDate'}} <span *ngIf="training.end"><br>{{training.end | date:'mediumDate'}}</span></td>
    <td *ngIf="rowDefault">{{training.subject}}</td>
    <td *ngIf="rowDefault">{{training.tLocation}}</td>
    <td *ngIf="rowDefault">{{training.day1}}<span *ngIf="training.day2"><br>{{training.day2}}</span><span *ngIf="training.day3"><br>{{training.day3}}</span><span *ngIf="training.day4"><br>{{training.day4}}</span></td>
    <td *ngIf="rowDefault"><span *ngIf="getUser(training.submittedById) | async as usr">{{usr.personalProfile.firstName}} {{usr.personalProfile.lastName}}</span></td>
    <td *ngIf="rowDefault" class="text-right">
        <a class="btn btn-info btn-xs" (click)="edit()" *ngIf="rowDefault"><i class="fa fa-pencil"></i> Edit</a>
        <a class="btn btn-info btn-xs" (click)="delete()" *ngIf="rowDefault"><i class="fa fa-trash-o"></i> Delete</a>
        <a class="btn btn-primary btn-xs" (click)="default()" *ngIf="!rowDefault"><i class="fa fa-close"></i> Close</a>
    </td>
    <td *ngIf="rowEdit" colspan="6">
        <div class="text-right">
            <a class="btn btn-primary btn-xs" (click)="default()"><i class="fa fa-close"></i> Close</a>
        </div>
        <training-form [training]="training" (onFormCancel)="default()" (onFormSubmit)="trainingSubmitted($event)"></training-form>
    </td>
    <td *ngIf="rowDelete" colspan="6">
        <div class="text-right">
            <a class="btn btn-primary btn-xs" (click)="default()"><i class="fa fa-close"></i> Close</a>
        </div>
        <div>
            Do you really want to delete training <strong>{{training.subject}}</strong>?<br><button (click)="confirmDelete()" class="btn btn-info btn-xs">Yes</button> <button (click)="default()" class="btn btn-info btn-xs">No</button>
        </div>
    </td>
</ng-container>
<ng-container *ngIf="!admin">
    <td><a [routerLink]="['/reporting/training',training.id]" >Select</a></td>
    <td>{{training.start | date:'mediumDate'}} <span *ngIf="training.end"><br>{{training.end | date:'mediumDate'}}</span></td>
    <td>{{training.subject}}<span *ngIf="training.seatLimit"><br><strong>Limited to {{training.seatLimit}} participants.</strong></span></td>
    <td>{{training.tLocation}}</td>
    <td>{{training.day1}}<span *ngIf="training.day2"><br>{{training.day2}}</span><span *ngIf="training.day3"><br>{{training.day3}}</span><span *ngIf="training.day4"><br>{{training.day4}}</span></td>
</ng-container>


        
        
