<div *ngIf="currentUser">
  <p>
    <a class="btn btn-default" [routerLink]="['/reporting/training/upcomming']" routerLinkActive="active">My Upcoming Trainings</a> <a class="btn btn-default" [routerLink]="['/reporting/training/transcript']" routerLinkActive="active">My Historical Training Transcript</a> <a class="btn btn-default" [routerLink]="['/reporting/training/catalog']" routerLinkActive="active">Training Catalog</a>
  </p>
  <p *ngIf="isTrainer()">
    <a class="btn btn-default" [routerLink]="['/reporting/training/propose']" routerLinkActive="active">Submit New Training Proposal</a> <a class="btn btn-default"[routerLink]="['/reporting/training/postattendance']" routerLinkActive="active">Post Attendance</a> 
  </p>
  <p *ngIf="isAdmin()">
      <a class="btn btn-default" [routerLink]="['/reporting/training/proposals']" routerLinkActive="active">Session Proposals</a>
      <a class="btn btn-default" [routerLink]="['/reporting/training/admincatalog']" routerLinkActive="active">Admin Catalog</a>
      <a class="btn btn-default" [routerLink]="['/reporting/training/adminenrollment']" routerLinkActive="active">Enrollment</a>
      <a class="btn btn-default" [routerLink]="['/reporting/training/adminmanagers']" routerLinkActive="active">Session Managers List</a>
      <a class="btn btn-default" [routerLink]="['/reporting/training/adminreports']" routerLinkActive="active">Admin Reports</a> 
  </p>
</div>
<br><br>
<router-outlet></router-outlet>



