@{
    ViewData["Title"] = "Login test Page";
}


 <form action="LoginTestPage" method="post">
  <div>
    <label for="Username">Username:</label>
    <input type="text" id="Username" name="Username">
  </div>
  <div>
    <label for="Password">Password:</label>
    <input type="password" id="Password" name="Password">
  </div>
  <button type="submit">Submit</button>
</form>