@if (!fullstats) {
  <td>{{stat.year}}/{{stat.month}}</td>
}
@if (!fullstats) {
  <td>{{stat.hours}}</td>
}
@if (!fullstats) {
  <td>{{direct}}</td>
}
@if (!fullstats) {
  <td>{{indirect}}</td>
}
@if (!fullstats) {
  <td>{{direct + indirect}}</td>
}
@if (!fullstats && user != null) {
  <td width="20"><a class="btn btn-info btn-xs" (click)="open()"><i class="fa fa-plus"></i></a></td>
}
@if (fullstats) {
  <td colspan="6">
    <div class="text-right"><a class="btn btn-info btn-xs" (click)="close()"><i class="fa fa-minus"></i></a></div>
    <activity-reports-summary [month]="stat.month" [year]="stat.year" [isSnap]="true" [user]="user"></activity-reports-summary>
  </td>
}