@if (errorMessage) {
  <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
  </button>
  <strong>Error: </strong> {{errorMessage}}
</div>
}
@if (loading) {
  <loading></loading>
}
@if (!loading) {
  <div class="row">@if (stats) {
    <div>
      @if (stats.length == 0) {
        <div>
          <p>
            No Snap-Ed activity for the Fiscal Year.
          </p>
        </div>
      }
      @if (stats.length != 0) {
        <div>
          <h2>Reported Hours By Month</h2>
          <div class="table-responsive text-right">
            <div>
              <table class="table table-bordered table-striped" >
                <thead>
                  <tr>
                    <th scope="col">MONTH</th>
                    <th scope="col">HOURS<br>REPORTED</th>
                    <th scope="col">DIRECT<br>CONTACTS</th>
                    <th scope="col">INDIRECT<br>CONTACTS</th>
                    <th scope="col">TOTAL<br>CONTACTS</th>
                    @if (user != null) {
                      <th></th>
                    }
                  </tr>
                </thead>
                <tbody>
                  @for (stat of stats; track stat) {
                    <tr [servicelog-snaped-stats-row]="stat" [user]="user"></tr>
                  }
                  <tr>
                    <td><strong>TOTALS</strong></td>
                    <td><strong>{{hoursTotal}}</strong></td>
                    <td><strong>{{directTotal}}</strong></td>
                    <td><strong>{{indirectTotal}}</strong></td>
                    <td><strong>{{directTotal + indirectTotal}}</strong></td>
                    @if (user != null) {
                      <td></td>
                    }
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
}