<div class="alert alert-danger alert-dismissible fade in" role="alert" *ngIf="errorMessage">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <strong>Error: </strong> {{errorMessage}}
</div>
<div class="text-right"><a class="btn btn-default btn-xs" routerLink="/reporting/admin/snaped">Snap-Ed Admin Dashboard</a></div>
<div *ngIf="assistant">
    
    <fiscal-year-switcher [type]="'snapEd'" [initially]="'previous'" [showNext]="false" (onSwitched)="fiscalYearSwitched($event)"></fiscal-year-switcher>
    <br>
    <snape-ed-stats *ngIf="fiscalYear" [fiscalYear]="fiscalYear" [user]="assistant" (onCalculated)="storeHours($event)"></snape-ed-stats>
    
    <snape-ed-commitment-stats *ngIf="fiscalYear" [fiscalYear]="fiscalYear" [user]="assistant"></snape-ed-commitment-stats>
    <a (click)="ccond = !ccond" style="cursor:pointer;"><i class="fa fa-plus-square" *ngIf="!ccond"></i><i class="fa fa-minus-square" *ngIf="ccond"></i> Change Committed Hours </a>
    <div class="row" *ngIf="ccond">
        <div class="well">
            <h2>Commitment</h2>
            <snap-ed-commitment-manager [userid]="assistant.id"></snap-ed-commitment-manager>
        </div>
    </div>
    <br><br>
    <div *ngIf="isAssitant">
        <h2>Reimbursements</h2>
        <div *ngIf="budget">
            <div *ngIf="!newReinbursment" class="text-right">
                    <a class="btn btn-info btn-xs" (click)="newReinbursment = true">+ new reimbursement</a>
            </div>
            <div *ngIf="newReinbursment">
                <snaped-reimbursment-form [userId]="assistant.id" (onFormCancel)="newReinbursment = false" (onFormSubmit)="newReinbursmentSubmit($event)"></snaped-reimbursment-form>
            </div>


            <table class="table table-striped" *ngIf="reimbursments">
                <thead>
                    <tr>
                        <th>Notes</th>
                        <th class="text-right">Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reimbursment of reimbursments" [snapedReimbursmentItem]="reimbursment" (onReimbursementDeleted)="reimbursementDeleted($event)" (onReimbursementUpdated)="reimbursementUpdated($event)"></tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Remaining budget: <strong>{{remainingBudget | currency:'USD':'symbol' }}</strong></td>
                        <td class="text-right">Total: <strong>{{totalReimbursementsAmount | currency:'USD':'symbol' }}</strong></td>
                        <td></td>
                    </tr>
                </tfoot>               
            </table>
        </div>
    </div>
</div>

