@if (errorMessage) {
  <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
  </button>
  <strong>Error: </strong> {{errorMessage}}
</div>
}
<div class="text-right"><a class="btn btn-default btn-xs" routerLink="/reporting/admin/snaped">Snap-Ed Admin Dashboard</a></div>
@if (assistant) {
  <div>
    <fiscal-year-switcher [type]="'snapEd'" [initially]="'previous'" [showNext]="false" (onSwitched)="fiscalYearSwitched($event)"></fiscal-year-switcher>
    <br>
      @if (fiscalYear) {
        <snape-ed-stats [fiscalYear]="fiscalYear" [user]="assistant" (onCalculated)="storeHours($event)"></snape-ed-stats>
      }
      @if (fiscalYear) {
        <snape-ed-commitment-stats [fiscalYear]="fiscalYear" [user]="assistant"></snape-ed-commitment-stats>
      }
      <a (click)="ccond = !ccond" style="cursor:pointer;">@if (!ccond) {
        <i class="fa fa-plus-square"></i>
        }@if (ccond) {
        <i class="fa fa-minus-square"></i>
      } Change Committed Hours </a>
      @if (ccond) {
        <div class="row">
          <div class="well">
            <h2>Commitment</h2>
            <snap-ed-commitment-manager [userid]="assistant.id"></snap-ed-commitment-manager>
          </div>
        </div>
      }
      <br><br>
      @if (isAssitant) {
        <div>
          <h2>Reimbursements</h2>
          @if (budget) {
            <div>
              @if (!newReinbursment) {
                <div class="text-right">
                  <a class="btn btn-info btn-xs" (click)="newReinbursment = true">+ new reimbursement</a>
                </div>
              }
              @if (newReinbursment) {
                <div>
                  <snaped-reimbursment-form [userId]="assistant.id" (onFormCancel)="newReinbursment = false" (onFormSubmit)="newReinbursmentSubmit($event)"></snaped-reimbursment-form>
                </div>
              }
              @if (reimbursments) {
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Notes</th>
                      <th class="text-right">Amount</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (reimbursment of reimbursments; track reimbursment) {
                      <tr [snapedReimbursmentItem]="reimbursment" (onReimbursementDeleted)="reimbursementDeleted($event)" (onReimbursementUpdated)="reimbursementUpdated($event)"></tr>
                    }
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Remaining budget: <strong>{{remainingBudget | currency:'USD':'symbol' }}</strong></td>
                      <td class="text-right">Total: <strong>{{totalReimbursementsAmount | currency:'USD':'symbol' }}</strong></td>
                      <td></td>
                    </tr>
                  </tfoot>
                </table>
              }
            </div>
          }
        </div>
      }
    </div>
  }

