<div class="text-right"><button class="btn btn-info btn-xs" routerLink="/reporting/admin/snaped/">Admin Dashboard</button></div>
<h3>Snap-Ed Records</h3><br>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default" [class.active]="type=='direct'">
        <input type="radio" name="type" id="option2" (click)="switchType('direct')"> Direct
        </label>
        <label class="btn btn-default" [class.active]="type=='indirect'">
          <input type="radio" name="type" id="option3" (click)="switchType('indirect')"> Indirect
        </label>
        <label class="btn btn-default" [class.active]="type=='policy'">
            <input type="radio" name="type" id="option4" (click)="switchType('policy')"> Policy
          </label>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12 text-right" style="margin-top: 3px;">
      <my-date-range-picker name="mydaterange" [(ngModel)]="model" [options]="myDateRangePickerOptions" (dateRangeChanged)="dateCnanged($event)"></my-date-range-picker>
  </div>

</div>


<a (click)="condition = !condition" style="cursor: pointer;"><i class="fa fa-minus-square" *ngIf="condition"></i>
  <i class="fa fa-plus-square" *ngIf="!condition"></i> more search options
</a>
<div class="row">
  <form *ngIf="condition" class="form-horizontal form-label-left">
    <div class="col-sm-offset-3 col-sm-9">
      <h2>Refine Search</h2>
    </div>
    <div class="form-group" >
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input class="form-control" [(ngModel)]="criteria.search" name="contact" (keyup)="onSearch($event)" />
        </div>
    </div>
    <div class="form-group" >
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Order by</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default" [class.active]="order=='dsc'">
                <input type="radio" name="type" id="option2" (click)="switchOrder('dsc')"> Date Descending
                </label>
                <label class="btn btn-default" [class.active]="order=='asc'">
                  <input type="radio" name="type" id="option3" (click)="switchOrder('asc')"> Date Ascending
                </label>
                <label class="btn btn-default" [class.active]="order=='alph'">
                    <input type="radio" name="type" id="option4" (click)="switchOrder('alph')"> Alphabetically
                  </label>
            </div>
        </div>
    </div>  
    
    
    
  </form>
</div><br>



<div class="table-responsive">
  
  <table class="table table-bordered table-striped" *ngIf="revisions$ | async as revisions">
      <thead>
          <tr>
            <th>Date(s)</th>
            <th>Title</th>
            <th>Location</th>
            <th>Time</th>
            <th>Proposed By</th>
            <th>Enrolled</th>
            <th></th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let revision of revisions">
          <td>{{revision.id}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>7</td>
        </tr>
      </tbody>
      
  </table>
  <loading *ngIf="loading"></loading>
</div>