<div class="alert alert-danger alert-dismissible fade in" role="alert" *ngIf="errorMessage">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <strong>Error: </strong> {{errorMessage}}
</div>
<div *ngIf="county"> 
    <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li role="presentation" [class.active]="tabAssistants"><a (click)="tabAssistants=true;tabWithCommitment=tabAll=false;" id="home-tab" role="tab">Snap-Ed Assistants</a>
            </li>
            <li role="presentation" [class.active]="tabWithCommitment"><a (click)="tabWithCommitment=true;tabAssistants=tabAll=false;" role="tab" id="profile-tab">With Commitment</a>
            </li>
            <li role="presentation" [class.active]="tabAll"><a (click)="tabAll=true;tabWithCommitment=tabAssistants=false;" role="tab" id="profile-tab2">All Employees</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade" [class.in]="tabAssistants" [class.active]="tabAssistants" id="tab_content1" *ngIf="tabAssistants">
                <div class="col-md-12">
                    <user-directory-list [county]="county" [onlySnapAssistants]="true" [showSnapButton]="true"></user-directory-list><br><br>
                </div>
                
            </div>
            <div role="tabpanel" class="tab-pane fade" [class.in]="tabWithCommitment" [class.active]="tabWithCommitment" id="tab_content2" *ngIf="tabWithCommitment">
                <div class="col-xs-12">
                    <user-directory-list [county]="county" [onlyWitSnapCommitment]="true" [showSnapButton]="true"></user-directory-list><br><br>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" [class.in]="tabAll" [class.active]="tabAll" id="tab_content3" *ngIf="tabAll">
                <div class="col-xs-12">
                    <user-directory-list [county]="county" [showSnapButton]="true"></user-directory-list><br><br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <snape-ed-stats [planningUnit]="county" (onCalculated)="storeHours($event)"></snape-ed-stats>
    </div><br><br>
    <snape-ed-commitment-stats *ngIf="fiscalYear" [planningUnit]="county" [fiscalYear]="fiscalYear" (onCalculated)="storeCommitment($event)"></snape-ed-commitment-stats>
    <br><br>
    <h2>Data Downloads</h2>
    <fiscal-year-switcher [type]="'snapEd'" [initially]="'current'" [showNext]="false" (onSwitched)="fiscalYearSwitchedData($event)"></fiscal-year-switcher>
    <br>
    <snaped-download-button [fiscalYear]="fiscalYearData" [location]="'partnersofacounty/'+county.id" [filename]="'partnersofacounty'+county.id" [label]="'Partners of a County'"></snaped-download-button>
    <br><br>
    <div *ngIf="countyBudget">
        <h2>County Budget</h2>
        <div *ngIf="!editBudget">
            <strong>{{countyBudget | currency:'USD':'symbol' }}</strong> &nbsp;&nbsp;<a class="btn btn-info btn-xs" (click)="editBudget = true">edit</a>
        </div>
        <div *ngIf="editBudget">
            <form class="form-inline" novalidate (ngSubmit)="onCountyBudgetSubmit()" [formGroup]="budgetForm">
                <div class="form-group">
                    <label class="sr-only" for="annualBudget">Annual Budget (in dollars)</label>
                    <div class="input-group" style="margin-top:4px;">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" formControlName="annualBudget" id="annualBudget" placeholder="Annual Budget">
                        <div class="input-group-addon">.00</div>
                    </div>
                </div>&nbsp;
                <button type="submit" class="btn btn-primary" [disabled]="budgetForm.invalid"  >Update</button>
                <button class="btn btn-info" (click)="editBudget = false">Cancel</button>
            </form>      
        </div>
    </div><br><br>
    <h2>Reimbursements</h2>
    <div *ngIf="!newReinbursment" class="text-right">
            <a class="btn btn-info btn-xs" (click)="newReinbursment = true">+ new reimbursement</a>
    </div>
    <div *ngIf="newReinbursment">
        <snaped-reimbursment-form [countyId]="county.id" (onFormCancel)="newReinbursment = false" (onFormSubmit)="newReinbursmentSubmit($event)"></snaped-reimbursment-form>
    </div>
    <table class="table table-striped" *ngIf="reimbursments">
        <thead>
            <tr>
                <th>Notes</th>
                <th class="text-right">Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reimbursment of reimbursments" [snapedReimbursmentItem]="reimbursment" (onReimbursementDeleted)="reimbursementDeleted($event)" (onReimbursementUpdated)="reimbursementUpdated($event)"></tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Remaining budget: <strong>{{remainingBudget | currency:'USD':'symbol' }}</strong></td>
                <td class="text-right">Total: <strong>{{totalReimbursementsAmount | currency:'USD':'symbol' }}</strong></td>
                <td></td>
            </tr>
        </tfoot>               
    </table>
</div>


