@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    if(ViewData["Title"] == null){
        ViewData["Title"] = "Statistical Cotnacts Per Major Program";
    }
    if(ViewData["Subtitle"] == null){
        ViewData["Subtitle"] = " Statistical Contact Reports";
    }
    var type = ViewData["Type"] as int?;
}
@model Kers.Models.ViewModels.TableViewModel
<div class="text-right">
        <a asp-controller="Contacts"  asp-action="Index" class="btn btn-default btn-xs">Back to State Reports</a><br>
</div>
@Html.Partial("TablePartial")