@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";


    var FiscalYear = ViewData["FiscalYear"] as Kers.Models.Entities.KERScore.FiscalYear;
    
    
    if(ViewData["Title"] == null){
        ViewData["Title"] = "Statistical Cotnacts Per Major Program";
    }
    ViewData["Title"] += " Report for FY" + FiscalYear.Name;
    
    ViewData["Subtitle"] = FiscalYear.Start.ToString("MMM d, yyyy") + " - " + FiscalYear.End.ToString("MMM d, yyyy");

    var type = ViewData["Type"] as int?;
}
@model Kers.Models.ViewModels.TableViewModel
<div class="text-right">
        <a asp-controller="Contacts"  asp-action="Index" class="btn btn-default btn-xs">Back to State Reports</a><br>
</div>
@await Html.PartialAsync("TablePartial")