<br><br>
<div class="container">
    <div class="row">
        <div class="jumbotron col-md-8 col-md-offset-2">
        <h1>Kentucky Extension Reporting System</h1>
        <p>Cooperative Extension has multiple reports that are submitted to the Program and Staff Development office on a monthly, quarterly, and annual basis. This portion of our website is dedicated to ensuring that all our Agents, Associates, and Specialists have the resources they need to create and submit these reports in a timely manner.</p>
        <p><a routerLink="/reporting" routerLinkActive="active" class="btn btn-primary btn-lg">Reporting</a></p>
        </div>
    </div>
</div>
    