<div class="login">
  <div class="login_wrapper">
    <div class="animate form login_form">
      <loading *ngIf="loading"></loading>
      <section class="login_content" *ngIf="!loading">
          <form>
              <h1>Extension Login</h1>
                <div class="alert alert-danger" role="alert" *ngIf="loginError"><strong>Warning:</strong> Username of Password mismatch</div>
                <form (submit)="performLogin($event)" [formGroup]="loginForm" >
                  <div>
                      <input type="text" id="name" class="form-control" placeholder="LinkBlue ID" required formControlName="name" name="name" autofocus>              
                  </div>
                  <div>
                        <input type="password" id="password" required formControlName="password" name="password" class="form-control" placeholder="Password" >
                  </div>
                  <div>
                      <button class="btn btn-default submit" type="submit">Log in</button> 
                  </div>
                </form>
                <div class="clearfix"></div>

                <div class="separator">
                  <p class="change_link">Please log in using your <a href="http://www.uky.edu/UKHome/subpages/linkblue.html" target="_blank">Link Blue</a> credentials.<br>
      This is the same ID and password you use<br>for Exchange e-mail and myUK.</p>
                  <div class="clearfix"></div>
                  <br />

                  <div>
                    <h1><img src="{{ukLogoSrc}}" width="44" height="31"> Extension</h1>
                    <p>University of Kentucky<br>College of Agriculture, Food and Environment</p>
                  </div>
                </div>
            </form>
        </section>
      </div>    
  </div>
</div>