
    <login *ngIf="!newUser" (onNewUser)="onNewUser($event)"></login>
    
    <div class="row" *ngIf="newUser" >
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-md-10"><br><br>Please, edit information bellow for creating your KERS reporting profile.<br><br></div>
        </div>
        <div class="col-xs-11">
            <user-reporting-form [userObservable]="userObservable" (onFormCancel)="reportingFormCancel()" (onFormSubmit)="reportingFormSubmit($event)"></user-reporting-form>
        </div>
    </div>
    