%error-form-field {
    border: 1px solid #CE5454;
    box-shadow: 0 0 4px -2px #CE5454;
    position: relative;
    left: 0;
    -moz-animation: .7s 1 shake linear;
    -webkit-animation: 0.7s 1 shake linear;
  }
  input.ng-invalid, select.ng-invalid, textarea.ng-invalid{
    @extend %error-form-field;
  }

  .bad input, .bad select, .bad textarea, input.ng-invalid, select.ng-invalid, textarea.ng-invalid, div.description-invalid > div {
    @extend %error-form-field;
  }