@media print {
    /* All your print styles go here */
    .nav_menu, .top_nav, footer, .left_col {
        display: none !important;
    }
    .right_col {
        margin: 0 !important;
        padding: 0 !important;
    }
    html, body {
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 0;
        padding: 0;
    }
    .table-responsive{
        overflow:visible !important;
        width: 100%;
    }
    .table-responsive table{
        width: 100% !important;
    }
    td, th {
        padding: 5px !important;
    }
    .right_col {
        position: absolute;
        left: 0;
        top: -1%;
        width: 100%;
        display: block !important;
    }
}