@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    ViewData["Title"] = "Counties";
    ViewData["Subtitle"] = "Kentucky Extension Reporting System";
    var counties = ViewData["Counties"] as List<Kers.Models.Entities.KERScore.PlanningUnit>;
}



@foreach (var county in counties)
    {<a asp-controller="Reports" 
   asp-action="County" 
   asp-route-id="@county.Id" class="btn btn-default">@county.Name.Substring(0, county.Name.Length - 11)</a>}

