@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    ViewData["Title"] = "Impacts";
    ViewData["Subtitle"] = "Kentucky Extension";    
}
@await Html.PartialAsync("TopStatsPartial")

<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12">
    @await Component.InvokeAsync("MainStory")
    <div class="row">
          <!-- Start to do list -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Major Programs <small></small></h2>
                
                <div class="clearfix"></div>
              </div>
              <div class="x_content">

                <div class="">
                  
                </div>
              </div>
            </div>
          </div>
          <!-- End to do list -->
          
          <!-- start of weather widget -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>People <small></small></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                @await Component.InvokeAsync("FeaturedPerson")
              </div>
            </div>

          </div>
          <!-- end of weather widget -->
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        @await Component.InvokeAsync("LatestStories")
      </div>
    </div>
  </div>  