@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    ViewData["Title"] = "Contacts by Major Program by County";
    ViewData["Subtitle"] = " Statistical Contact Reports";
}
@model Kers.Models.ViewModels.TableViewModel
<div class="text-right">
    <a asp-controller="Contacts"  asp-action="State" class="btn btn-default btn-xs">Back to State Reports</a><br>
</div>
@Html.Partial("TablePartial")