@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    var FiscalYear = ViewData["FiscalYear"] as Kers.Models.Entities.KERScore.FiscalYear;
    ViewData["Title"] = "All Statistical Contacts for FY" + FiscalYear.Name;
    ViewData["Subtitle"] = FiscalYear.Start.ToString("MMM d, yyyy") + " - " + FiscalYear.End.ToString("MMM d, yyyy");
}
@model Kers.Models.ViewModels.TableViewModel
<div class="text-right">
    <a asp-controller="Contacts"  asp-action="State" class="btn btn-default btn-xs">Back to State Reports</a><br>
</div>
@Html.Partial("TablePartial")