<div class="ln_solid"></div>
<div class="row">
    <div class="col-xs-9">
        
        <article class="media event" *ngIf="rowDefault">
            <a class="pull-left date">
                <p class="day">{{expense.expenseDate | date:'d'}}</p>   
                <p class="month">{{expense.expenseDate | date:'MMMM'}} </p>
            </a>
            <div class="media-body">
            <a class="title">{{expense.expenseLocation}}</a>
            <p>Mileage: {{expense.mileage}}, Registration: {{expense.registration}}, Lodging: {{expense.lodging}}</p>
            </div>
        </article>
        <div class="col-xs-12" *ngIf="rowEdit">
            <expense-form [expense]="expense" (onFormCancel)="default()" (onFormSubmit)="expenseSubmitted($event)"></expense-form>
        </div>
        <div class="col-xs-11" *ngIf="rowDelete">
            Do you really want to delete expense <strong>{{expense.expenseLocation}}</strong>?<br><button (click)="confirmDelete()" class="btn btn-info btn-xs">Yes</button> <button (click)="default()" class="btn btn-info btn-xs">No</button>
        </div>
        
    </div>
    <div class="col-xs-3 text-right">
        <a class="btn btn-info btn-xs" (click)="edit()" *ngIf="rowDefault">edit</a>
        <a class="btn btn-info btn-xs" (click)="delete()" *ngIf="rowDefault">delete</a>
        <a class="btn btn-info btn-xs" (click)="default()" *ngIf="!rowDefault">close</a>
    </div>  
</div>
