@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    var FiscalYear = ViewData["FiscalYear"] as Kers.Models.Entities.KERScore.FiscalYear;
    ViewData["Title"] = "Success Stories By Planning Unit FY"+FiscalYear.Name;
    ViewData["Subtitle"] = FiscalYear.Start.ToString("MMM d, yyyy") + " - " + FiscalYear.End.ToString("MMM d, yyyy");
}
@model Kers.Models.ViewModels.UnitStoryViewModel

<br><br>
<div class="row">
    <label class="col-md-2">Select Planning Unit</label>
    <div class="col-md-8">
        <select asp-for="PlanningUnit.Id" asp-items="@(new SelectList(Model.PlanningUnits,"Id","Name"))" class="form-control" onchange="location = '@Url.RouteUrl("StoryCounty", new { id = "" })' + '/' + this.value;">
            <option>-- select --</option>
        </select>
    </div>
</div><br><br>

@await Html.PartialAsync("StoriesList", Model.Stories)

<br><br>


