@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    ViewData["Title"] = "Success Stories By Planning Unit";
    ViewData["Subtitle"] = "Kentucky Extension Reporting System";
}
@model Kers.Models.ViewModels.UnitStoryViewModel

<br><br>
<div class="row">
    <label class="col-md-2">Select Planning Unit</label>
    <div class="col-md-8">
        <select asp-for="PlanningUnit.Id" asp-items="@(new SelectList(Model.PlanningUnits,"Id","Name"))" class="form-control" onchange="location = '@Url.RouteUrl("StoryCounty", new { id = "" })' + '/' + this.value;">
            <option>-- select --</option>
        </select>
    </div>
</div><br><br>

@Html.Partial("StoriesList", Model.Stories)

<br><br>


