<div>
  <div class="text-right">
    @if (!newAlert) {
      <a class="btn btn-info btn-xs" (click)="newAlert = true">+ new alert</a>
    }
  </div>
  @if (newAlert) {
    <alerts-form  (onFormSubmit)="onSubmit($event)" (onFormCancel)="newAlert=false"></alerts-form>
  }
  <!-- <mileage-form *ngIf="newExpense" [isNewCountyVehicle]="newCountyVehicle" (onFormCancel)="newExpense=false" (onFormSubmit)="newExpenseSubmitted($event)"></mileage-form>
  -->  <br><br>
  <h2>Active Alerts</h2>
  @if (activeAlerts$ | async; as alerts) {
    <div class="table-responsive">
      @if (alerts.length > 0) {
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Start</th>
              <th>End</th>
              <th>Message</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (alert of alerts; track alert) {
              <tr [alert-list-row]="alert" (onEdited)="refreshData()"></tr>
            }
          </tbody>
        </table>
      }
      @if (alerts.length == 0) {
        <div>There are no active alerts at the moment.</div>
      }
    </div>
  }

  <a (click)="condition = !condition" style="cursor: pointer;">@if (condition) {
    <i class="fa fa-minus-square"></i>
  }
  @if (!condition) {
    <i class="fa fa-plus-square"></i>
    } inactive alerts
  </a>
  @if (condition) {
    <div>
      <h2>Inactive Alerts</h2>
      @if (pastAlerts$ | async; as pastAlerts) {
        <div class="table-responsive">
          @if (pastAlerts.length > 0) {
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Start</th>
                  <th>End</th>
                  <th>Message</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @for (alert of pastAlerts; track alert) {
                  <tr [alert-list-row]="alert" (onEdited)="refreshData()"></tr>
                }
              </tbody>
            </table>
          }
          @if (pastAlerts.length == 0) {
            <div>There are no inactive alerts at the moment.</div>
          }
        </div>
      }
    </div>
  }
</div>


