
@if (loading) {
  <loading></loading>
}
@if (!loading) {
  <div class="row">
    <div class="col-sm-offset-3 col-sm-9">
      @if (alert == null) {
        <h2>New Alert</h2>
      }
      @if (alert != null) {
        <h2>Edit Alert</h2>
      }
      <br><br>
    </div>
    <form class="form-horizontal form-label-left" novalidate (ngSubmit)="onSubmit()" [formGroup]="alertForm">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="start">Start Date:</label>
        <div class="col-md-4 col-sm-6 col-xs-7">
          <div class="input-group">
            <input type="text" class="form-control input-box" placeholder="Click to select a date"
              angular-mydatepicker name="startdate" (click)="dp.toggleCalendar()"
              formControlName="start" [options]="myDatePickerOptions"
              #dp="angular-mydatepicker">
            <span class="input-group-addon" id="basic-addon1" (click)="dp.toggleCalendar()"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="end">End Date:</label>
        <div class="col-md-4 col-sm-6 col-xs-7">
          <div [class.notvalid]="alertForm.hasError('endDate')" >
            <div class="input-group">
              <input type="text" class="form-control input-box" placeholder="Click to select a date"
                [class.ng-invalid]="alertForm.hasError('endDate')"
                angular-mydatepicker name="endDate" (click)="dp1.toggleCalendar()"
                formControlName="end" [options]="myDatePickerOptionsEnd"
                #dp1="angular-mydatepicker">
              <span class="input-group-addon" id="basic-addon1" (click)="dp1.toggleCalendar()"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="message" class="control-label col-md-3 col-sm-3 col-xs-12">Message:</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <input type="text" name="message" formControlName="message" id="message" class="form-control col-xs-12" />
        </div>
      </div>
      <div class="form-group">
        <label for="moreInfoUrl" class="control-label col-md-3 col-sm-3 col-xs-12">Url:</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <input type="text" name="moreInfoUrl" formControlName="moreInfoUrl" id="moreInfoUrl" class="form-control col-xs-12"/>
          <small> Web address for more information (optional).</small>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="alertType">Level:</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select name="alertType" id="alertType" formControlName="alertType" class="form-control col-md-4 col-xs-8">
            <option value="">--- select alert color ---</option>
            @for (alertType of alerts; track alertType) {
              <option [value]="alertType.id">{{alertType.name}}</option>
            }
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="urlRoute">Placement:</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select name="urlRoute" id="urlRoute" formControlName="urlRoute" class="form-control col-md-4 col-xs-8">
            <option value="">--- select page to be displayed ---</option>
            @for (route of routes | async; track route) {
              <option [value]="route.urlRoute">{{route.name}}</option>
            }
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enabled">Enabled:</label>
        <div class="col-md-9 col-sm-9 col-xs-12" style="padding-top: 9px;">
          <input type="checkbox" id="active" formControlName="active" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zEmpRoleTypeId">Role Restricted to:</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select name="zEmpRoleTypeId" id="zEmpRoleTypeId" formControlName="zEmpRoleTypeId" class="form-control col-md-4 col-xs-8">
            <option value="">--- not restricted ---</option>
            @for (role of roles; track role) {
              <option [value]="role.id">{{role.title}}</option>
            }
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="employeePositionId">Position Restricted to:</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select name="employeePositionId" id="employeePositionId" formControlName="employeePositionId" class="form-control col-md-4 col-xs-8">
            <option value="">--- not restricted ---</option>
            @for (position of positions; track position) {
              <option [value]="position.id">{{position.title}}</option>
            }
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="employeePositionId">County Staff Restricted:</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="radio-inline">
            <input type="radio" name="isContyStaff" formControlName="isContyStaff" [value]=0 > Not Restricted
          </label>
          <label class="radio-inline">
            <input type="radio" name="isContyStaff" formControlName="isContyStaff" [value]=1 > County Staff
          </label>
          <label class="radio-inline">
            <input type="radio" name="isContyStaff" formControlName="isContyStaff" [value]=2 > Non County Staff
          </label>
        </div>
      </div>
      @if (!isUser) {
        <div class="form-group" >
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Region</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control" formControlName="extensionRegionId" (change)="onRegionChange($event)" name="Region">
              <option value="">-- All Regions --</option>
              @for (region of regions$ | async; track region) {
                <option value="{{region.id}}">{{region.name}}</option>
              }
            </select>
          </div>
        </div>
      }
      @if (selectedRegionId != null && selectedRegionId != 0 && selectedRegionId != '') {
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Area</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control" formControlName="extensionAreaId" (change)="onAreaChange($event)" name="Region">
              <option value="">-- All Areas --</option>
              @for (area of areas$ | async; track area) {
                <option value="{{area.id}}">{{area.name}}</option>
              }
            </select>
          </div>
        </div>
      }
      @if (!isUser) {
        <div class="form-group" >
          <label class="control-label col-md-3 col-sm-3 col-xs-12">County</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control" formControlName="planningUnitId" name="Region">
              <option value="">-- All Counties --</option>
              @for (county of counties$ | async; track county) {
                <option value="{{county.id}}">{{county.name}}</option>
              }
            </select>
          </div>
        </div>
      }
      <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
          <a class="btn btn-primary" (click)="onCancel()">Cancel</a>
          <button type="submit" [disabled]="alertForm.invalid"  class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
  </div>
}