<div style="padding: 6px;">


    <div class="text-right">
        <a><i style="cursor: pointer;" class="fa fa-pencil-square-o" (click)="edit()"></i></a>&nbsp;<a><i  style="cursor: pointer;" class="fa fa-trash-o" (click)="delete()"></i></a>
    </div>
    <h4>{{location.displayName}}</h4>
    <h5>{{location.address.street}}</h5>
    <h5>{{location.address.city}} {{location.address.state != ""?", "+location.address.state:""}}</h5>
    <a class="btn btn-info btn-xs" (click)="selection()">select</a>

</div>