<div *ngIf="isDefault" style="padding: 35px 35px 0 35px; min-height: 210px;" class="col-md-4 col-sm-6 col-xs-12">


    <div class="text-right">
        <a><i style="cursor: pointer;" class="fa fa-pencil-square-o" (click)="edit()"></i></a>&nbsp;<a><i  style="cursor: pointer;" class="fa fa-trash-o" (click)="delete()"></i></a>
    </div>
    <h4>{{location.extensionEventLocation.address.building}}</h4>
    <h5>{{location.extensionEventLocation.address.street}}</h5>
    <h5 *ngIf="location.extensionEventLocation.address.city != null && location.extensionEventLocation.address.city != '' && location.extensionEventLocation.address.city != 'NULL'">{{location.extensionEventLocation.address.city}} {{location.extensionEventLocation.address.state != "" ? ", "+location.extensionEventLocation.address.state:""}} {{location.extensionEventLocation.address.postalCode}}</h5>
    <a class="btn btn-info btn-xs" (click)="selection()">select</a>

</div>
<div *ngIf="isEditing">
    <location-form [location]="location" (onFormCancel)="default()" (onFormSubmit)="changed($event)"></location-form>
</div>
<div *ngIf="isDeleting" style="padding: 6px;" class="col-md-3">
    Do you really want to delete location <strong>{{location.extensionEventLocation.address.building}}</strong>?<br><button (click)="confirmDelete()" class="btn btn-info btn-xs">Yes</button> <button (click)="default()" class="btn btn-info btn-xs">No</button>
</div>