@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    var FiscalYear = ViewData["FiscalYear"] as Kers.Models.Entities.KERScore.FiscalYear;
    if(ViewData["Title"] == null){
        ViewData["Title"] = "Statistical Contacts Per Person";
    }
    ViewData["Title"] += " Report for FY" + FiscalYear.Name;
    if(ViewData["Subtitle"] == null){
        ViewData["Subtitle"] = "Statistical Contacts";
    }
    ViewData["Subtitle"] = FiscalYear.Start.ToString("MMM d, yyyy") + " - " + FiscalYear.End.ToString("MMM d, yyyy");
    var type = ViewData["Type"] as int?;
    if( type == 2 ){
        ViewData["Title"]  = "KSU " + ViewData["Title"];
    }

}
@model Kers.Models.ViewModels.TableViewModel
<div class="text-right">
    @if( @type == 0){
        <a asp-controller="Contacts"  asp-action="Districts" asp-route-fy="@FiscalYear.Name" class="btn btn-default btn-xs">Back to Districts</a><br>
    }else{
        <a asp-controller="Contacts"  asp-action="Index" asp-route-fy="@FiscalYear.Name" class="btn btn-default btn-xs">Back to State Reports</a><br>
    }
    
</div>
@await Html.PartialAsync("TablePartial")