@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";

        ViewData["Title"] = "Sample";

}
@model IEnumerable< Kers.Models.Entities.KERScore.ActivityRevision>

@foreach( var rev in Model ){
    <p>@rev.Title (@rev.MajorProgram.Name) - @rev.ActivityDate: @rev.Created</p>
}