@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";

    ViewData["Title"] = "Sample";

    //var trainings = ViewData["trainings"] as List<Kers.Models.Entities.UKCAReporting.zInServiceTrainingCatalog>;

}


<table class="table table-striped">
                    <tbody>
                       
                    </tbody>
                  </table>