@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";

        ViewData["Title"] = "Activities with 2019 MP";


}
@model List<Kers.Models.Entities.KERScore.Activity>

@foreach( var actvt in Model )
{
    <p>actvt.Id</p>
}