<loading *ngIf="loading"></loading>
<div class="row" *ngIf="!loading">
  
  <div class="col-sm-offset-3 col-sm-9">
      <h2>Application for Professional Promotion<small> Due February 1</small></h2>
      <br><br>
      <div>
        <reporting-display-help [label]="'Promotion Procedures for County Extension Agents'" id="13"></reporting-display-help>
        Note:  Be sure to click on the link above and thoroughly review the <em>Professional Promotion Procedures for County Extension Agents</em> document prior to completing this application. 
      </div>
      <br><br>
  </div>
  <form class="form-horizontal form-label-left" novalidate (ngSubmit)="onSubmit()" [formGroup]="ladderForm">
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tStatus">Requesting Promotion to Level:</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <select name="registerCutoffDaysId" formControlName="ladderLevelId" class="form-control col-md-7 col-xs-12">
              <option value="">-- select --</option>
              <option *ngFor="let level of levels | async" [value]="level.id">{{level.name}}</option>
          </select><div class="red"><br><br>Individuals applying for a Career Ladder Promotion MUST include all support documents for each area.<br>Incomplete applications will be rejected.<br><br></div>
        </div> 
      </div>
      <div class="form-group">
        <label for="subject" class="control-label col-md-3 col-sm-3 col-xs-12">Position #:</label>           
        <div class="col-md-3 col-sm-3 col-xs-6">
            <input type="text" name="positionNumber" formControlName="positionNumber" id="positionNumber" class="form-control col-xs-12" />
        </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lastPromotion">Date of last Career Ladder Promotion:</label>
      <div class="col-md-4 col-sm-6 col-xs-7">
          <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" formControlName="lastPromotion"></my-date-picker>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12">Historical Training Transcript:</label>
      <div class="col-md-9 col-sm-9 col-xs-12">
        InService Hours Earned from {{lastPromotionDate | date:'shortDate'}} till {{firstOfTheYear | date:'shortDate'}}: <strong>{{hoursAttended | async}}</strong><br><br>
        <a *ngIf="!trainingDetails" class="btn btn-info btn-xs" (click)="trainingDetails=true">Details </a> <span *ngIf="!trainingDetails"><br>By clicking on the <em>Details</em> button, you will see your training transcript for the selected period.<br>The list will automatically be submitted with the application.<br></span><br>
        <div *ngIf="trainingDetails">
          <div><a class="btn btn-info btn-xs" (click)="trainingDetails=false">close</a></div>
          <training-transcript [start]="lastPromotionDate" [end]="firstOfTheYear"></training-transcript>
        </div>
        
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ladderEducationLevelId">Highest level of education attained by January 1, 2020:</label>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <select name="ladderEducationLevelId" formControlName="ladderEducationLevelId" class="form-control col-md-7 col-xs-12">
              <option value="">-- select --</option>
              <option *ngFor="let educationlevel of educationLevels | async" value="{{educationlevel.id}}">{{educationlevel.name}}</option>
          </select>
      </div>
    </div> 
    <div class="form-group">
        <label for="subject" class="control-label col-md-3 col-sm-3 col-xs-12">Program of Study:</label>           
        <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" name="programOfStudy" formControlName="programOfStudy" id="subject" class="form-control col-xs-12" />
            <p>An official transcript is needed to verify completion of 12 hours or more of graduate education or for a newly completed Masters. The program of study in which an agent has been accepted should be evident on the transcript or otherwise documented. Only hours earned prior to January 1 of the current year will be considered and an overall GPA of 3.0 is required.
            <br>A copy of the transcript and/or supporting documents can be uploaded by going to the "upload documents" section below.
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="body" class="control-label col-md-3 col-sm-3 col-xs-12">Evidence of Further Professional or Academic Training Received Since Last Promotion:</label>           
        <div class="col-md-9 col-sm-9 col-xs-12">
            <textarea [froalaEditor]="options" name="evidence" formControlName="evidence" id="evidence" class="form-control col-xs-12"></textarea>
        </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="startDate">Start Date:</label>
      <div class="col-md-4 col-sm-6 col-xs-7">
          <my-date-picker [options]="myDatePickerOptions" formControlName="startDate"></my-date-picker>
      </div>
    </div>
    
    
    <div class="form-group">
        <label for="seatLimit" class="control-label col-md-3 col-sm-3 col-xs-12">Number of years of Extension service as of July 1, 2020:</label>           
        <div class="col-md-4 col-sm-6 col-xs-10">
            <input type="number" formControlName="numberOfYears" class="form-control col-md-3 col-xs-6" />
            <p>Includes years as an Extension Agent, Extension Associate, or Extension Specialist.</p>
        </div>
    </div>
    <div class="form-group">
      <label for="seatLimit" class="control-label col-md-3 col-sm-3 col-xs-12">Performance ratings:<br><small style="font-weight: normal;">Check the Career Ladder Guidelines for the appropriate number of ratings to include. Attach printouts verifying information.</small></label>           
      <div class="col-md-4 col-sm-6 col-xs-10" formArrayName="ratings">
          
        <div *ngFor="let ratingGroup of ratings.controls; let i=index"><br>
          <div [formGroup]="ratingGroup" class="row">
            <div class="col-xs-10">
              <div class="row">
                <div class="col-md-4">Year {{i+1}}</div>
                <div class="col-md-8"><input  class="form-control" type="text" formControlName="year"></div>
              </div><br>
              <div class="row">
                <div class="col-md-4">Rating {{i+1}}</div>
                <div class="col-md-8"><input  class="form-control" type="text" formControlName="ratting"></div>
              </div>
            </div>
            <div class="col-xs-2">
              <a (click)="removeRating(i)" style="cursor: pointer;">x</a>
            </div>
            </div>
        </div>
        <a class="btn btn-info btn-xs" (click)="addRating()" style="margin-top: 8px;"> + add year</a>

          

      </div>
      <div class="col-sm-9 col-xs-12 col-sm-offset-3" ><br><br>Note: In addition to including the appropriate number of ratings, agents applying for promotion to Level IV are required to attach a statement of how they have met the General and Formal Education Criteria (See Standards). This statement cannot exceed two pages of narrative (one-sided, double spaced, 12 pt. font, Times-New Roman or similar commonly used font). Agents applying for Level V are required to attach a statement of how they have met the General and Formal Education Criteria AND Professional Development Criteria as outlined in the Standards. This statement cannot exceed two pages of narrative to support General Criteria and two pages to support Professional Development (one-sided, double spaced, 12 point font, Times-New Roman or similar commonly used font).<br></div>
        
  </div>
    

  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="startDate">Upload Documents:<br><small style="font-weight: normal;">(jpg or png images)</small></label>
    <div class="col-md-8 col-sm-9 col-xs-12" formArrayName="images">
      
      <div *ngIf="messages.length>0" style="color:salmon;font-weight: bold;">{{messages[0]}}<br></div>
      <input type="file" id="file" (change)="handleFileInput($event.target.files)" style="margin-top: 12px;" *ngIf="!imageIsUploading">
      <div class="row" *ngFor="let img of formImages.controls; let i=index" style="margin-top: 10px;">
        <div [formGroup]="img">
          <div class="col-md-3 col-sm-5">
            <img width="100%" src="{{getImageSrc(images[i].uploadImage.name)}}">
          </div>
          <div class="col-md-8 col-sm-6">
            
            <input type="text" placeholder="Description (optional)" formControlName="description" class="form-control"/>
          </div>
          <div class="col-sm-1">
            <div><a (click)="deleteImageClick(images[i].uploadImageId, i)" style="cursor: pointer;">x</a></div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>


    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
            <a class="btn btn-primary" (click)="onCancel()">Cancel</a>
            <button type="submit" [disabled]="ladderForm.invalid"  (click)="draftSaved()" class="btn btn-success">Save Draft</button>
            <button type="submit" [disabled]="ladderForm.invalid"  class="btn btn-success pull-right" >Submit for Approval</button>
        </div>
    </div>
      
  </form>
</div>