@if (rowDefault) {
  <div class="row">
    <div class="col-xs-6">Professional Promotion Application Created on {{application.created | date:'shortDate'}}</div>
    <div class="col-xs-6 text-right">
      @if (rowDefault && application.draft) {
        <a class="btn btn-info btn-xs" (click)="edit()">edit</a>
      }
      @if (rowDefault && application.draft) {
        <a class="btn btn-info btn-xs" (click)="delete()">delete</a>
      }
      @if (rowDefault) {
        <a class="btn btn-info btn-xs" (click)="details()">details</a>
      }
    </div>
  </div>
}
@if (rowDelete) {
  <div class="row">
    <div class="col-xs-12">
      @if (!rowDefault) {
        <a class="btn btn-info btn-xs pull-right" (click)="default()">close</a>
      }
    </div>
    <div>
      Do you really want to delete Professional Promotion Application draft created on <strong>{{application.created | date:'shortDate'}}</strong>?<br><button (click)="confirmDelete()" class="btn btn-info btn-xs">Yes</button> <button (click)="default()" class="btn btn-info btn-xs">No</button>
    </div>
  </div>
}
@if (rowDetails) {
  <div class="row">
    <div class="col-xs-12">
      @if (!rowDefault) {
        <a class="btn btn-info btn-xs pull-right" (click)="default()">close</a>
      }
    </div>
    <ladder-application-details [applicationId]="application.id"></ladder-application-details>
  </div>
}
@if (rowEdit) {
  <div class="row">
    <div class="col-xs-12">
      <ladder-application-form [application]="application" (onFormCancel)="default()" (onFormSubmit)="formSaved($event)" (onDraftSaved)="formSaved($event)"></ladder-application-form>
    </div>
  </div>
}
