<div class="ln_solid"></div>
<div class="row">
  <div class="col-xs-9">

    @if (rowDefault) {
      <article class="media event">
        <a class="pull-left date">
          <p class="day">{{expense.expenseDate | date:'d'}}</p>
          <p class="month">{{expense.expenseDate | date:'MMM'}} </p>
        </a>
        <div class="media-body">
          <a class="title">{{expense.expenseLocation}}</a>
          <p>Mileage: {{expense.mileage}}</p>
        </div>
      </article>
    }
    @if (rowEdit) {
      <div class="col-xs-12">
        <expense-form [expense]="expense" (onFormCancel)="default()" (onFormSubmit)="expenseSubmitted($event)"></expense-form>
      </div>
    }
    @if (rowDelete) {
      <div class="col-xs-11">
        Do you really want to delete expense <strong>{{expense.expenseLocation}}</strong>?<br><button (click)="confirmDelete()" class="btn btn-info btn-xs">Yes</button> <button (click)="default()" class="btn btn-info btn-xs">No</button>
      </div>
    }

  </div>
  <div class="col-xs-3 text-right">
    @if (rowDefault) {
      <a class="btn btn-info btn-xs" (click)="edit()">edit</a>
    }
    @if (rowDefault) {
      <a class="btn btn-info btn-xs" (click)="delete()">delete</a>
    }
    @if (!rowDefault) {
      <a class="btn btn-info btn-xs" (click)="default()">close</a>
    }
  </div>
</div>
