<div class="row">
  @if (newIndicator) {
    <div class="col-xs-12"><programindicators-form-admin
      [majorProgram]="majorProgram"
      (onFormCancel)="newIndicator = false"
      (onFormSubmit)="onNewIndicator($event)"
    ></programindicators-form-admin></div>
  }
  @if (!newIndicator) {
    <div class="col-xs-2 col-sm-offset-10"><a class="btn btn-info btn-xs" (click)="newIndicator = true" >+ new indicator</a></div>
  }
</div>
@for (indicator of indicators; track indicator) {
  <programindicators-indicator-detail [indicator]="indicator" (onDeleted)="indicatorDeleted($event)"></programindicators-indicator-detail>
}
