<!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle" (click)="toggle_left()"><i class="fa fa-bars"></i></a>
              </div>

<div style="float: right;">
              <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!user" style="margin: 10px;"><loading type="bars"></loading></li>
                <li [class.open]="isOpen" *ngIf="user" style="white-space:nowrap">
                  <a (click)="isOpen=!isOpen" class="user-profile dropdown-toggle" style="cursor: pointer;">
                    <img src="{{profilePicSrc}}" alt="Profile Picture">{{user.personalProfile.firstName}} {{user.personalProfile.lastName}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a (click)="isOpen=!isOpen" routerLink="/reporting/user/reporting"> Reporting Profile</a></li>
                    <li><a (click)="isOpen=!isOpen" routerLink="/reporting/user/personal"> Personal Profile</a></li>
                    <!--
                    <li><a href="javascript:;">Help</a></li> -->
                    <li><a routerLink="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
              </ul>
</div>

<!-- 
<div style="text-align: right; float: right;" *ngIf="isShared | async">
  <ul class="nav navbar-nav navbar-right">
    <li *ngIf="!user" style="margin: 10px;"><loading type="bars"></loading></li>
    <li [class.open]="isCountyChangeOpen" *ngIf="user" style="white-space:nowrap">
      <a (click)="isCountyChangeOpen=!isCountyChangeOpen" class="user-profile dropdown-toggle" style="cursor: pointer;">
        {{user.rprtngProfile.planningUnit.name}}
        <span class=" fa fa-angle-down"></span>
      </a>
      <ul class="dropdown-menu dropdown-usermenu pull-right" style="max-height: 500px; overflow: scroll;">
        <li *ngFor="let county of counties | async"><a (click)="changeCounty(county.id)">{{county.name}}</a></li>
      </ul>
    </li>
  </ul>
  
</div>
 -->



            </nav>
          </div>
        </div>
        <!-- /top navigation -->